[2017-08-03 18:31] WeaselKing commented on #671
I have the same use case and what appears to be the same problem.

Phone: Samsung Galaxy S8 Plus
Code that I am using to crash the game:
[code]

I put Debug.log strings in the code so you can see it in the logcat output more easily.

Some things of note:
The game **does not** crash if you disable Google VR Services. This is replicated with the version that shipped with the phone, as well as the la

[2017-08-03 19:37] rusmaxham commented on #665
A GVR Audio engineer is looking into this now.

[2017-08-03 21:47] WeaselKing commented on #667
It works basically the same Savashito. Instead of using that method in GVRViewer it has been moved to GvrCardboardHelpers. Simply do this to recenter:

[code]

I do notice that it crashes the game if you call that function when VRSettings.enabled = false so make sure that can't fire if that is the case.

[2017-08-03 22:02] rusmaxham commented on #670
Can you file a bug with Unity on this issue from the Unity Editor?

[2017-08-04 01:26] guitarrapc commented on #670
Issue is already reported to Unity https://feedback.unity3d.com/suggestions/cocoapod-support-dependency-management , but my concern is "What about Google Vr Support for integrate without CocoaPods".

[2017-08-04 01:35] rusmaxham commented on #670
Thank you for the Unity bug.

GoogleVR has no plans at this time to deliver the iOS Cardboard SDK as something other than a CocoaPod.  This issue needs to be addressed by Unity in the Cloud Build service.

[2017-08-04 08:48] clarkehe opened #677 "Object NOT visible when using single pass (Stereo Rendering Method)"
I tried a very simple scene with one object. See the screenshot below.

![0282bba8-dc20-4478-98e5-3c7175ff88ae](https://user-images.githubusercontent.com/8831805/28965716-1a057a0a-7945-11e7-92af-71afd9f672fc.png)

The object is not visible, when i run the scene on Android phone. If I change the shader from unlit/texture to unlit/transparent, the object become visible.

I tried using Xiao mi 5 and

[2017-08-04 12:17] kaldhu opened #678 "Apps are named "Keyboard Support""
Using Unity 2017.2.0b2 and the Google VR SDK for Unity v1.70.

All apps created are named "Keyboard Support" regardless of what is set within the player settings.

Have tested by creating a new project setting it up for the android platform, choosing a simple product name ("TestName") and package name("com.fake.demo") and deployed to phone, this was named "TestName" as expected.
Then I imported th

[2017-08-04 14:59] miraclestar commented on #665
Same error

[2017-08-04 20:46] #670 closed

[2017-08-04 20:47] miraleung commented on #674
Could you please see this can be repro'd with the GVRDemo scene? The GvrFPS.cs script should be drawing the FPS display in both eyes.

[2017-08-04 21:01] rusmaxham commented on #677
There are a variety of issues with Unity's Single-Pass rendering.  Please file a bug with Unity through the Unity Editor to escalate this issue.

[2017-08-04 21:27] rusmaxham commented on #678
I believe this has been fixed in the most recent beta of 2017.2.  Please try that and let me know if it resolves your issue.

[2017-08-04 23:35] rusmaxham commented on #678
I just learned the fix isn't in a publicly available beta yet.  It is expected to be in 2017.2.0b6.

[2017-08-05 00:28] ichabodcole commented on #674
@miraleung Yep, I tested both with my own scene and with a completely new project with just the GVR 1.7 assets. The GVRDemo scene shows the fps in the editor, but when deployed to the device the FPS counter is not displayed at all (neither eye).

If I get a chance, I'll try to test on a windows machine as well.

[2017-08-05 00:39] rusmaxham commented on #674
Are you using single- or multi-pass rendering in your player settings?

[2017-08-05 01:06] ichabodcole commented on #674
@rusmaxham Tried with both, and got the same result. I also turned off and on some of the other player settings like gpu skinning, multithreading and graphics jobs, which also had no effect.

[2017-08-05 01:23] Bonfi96 commented on #674
I have the same issue on windows, same unity and gvr versions

[2017-08-05 01:51] miraclestar commented on #675
Is there any way to  config myself in 1.7.0? like hide "setting button" use vr mode?

[2017-08-05 01:53] miraclestar opened #679 "Custom Setting in 1.7 , how to make 3D feel video?"
How to disable setting button?
How to make left and right eye to see different object ?

Thanks ~

[2017-08-05 05:17] fredsa commented on #667
I can confirm that with GVR  SDK 1.70.0, the app crashes if it tries to call `GvrCardboardHelpers.Recenter()` or `GvrCardboardHelpers.SetViewerProfile()` when the Cardboard VR SDK is not currently activated.

We're working on a fix for an upcoming release. As a workaround you can patch `GvrCardboardHelpers.cs` manually, to make sure that the result of `VRDevice.GetNativePtr()` is not used when it

[2017-08-05 05:30] fredsa commented on #628
The correct fix here is to indeed call the [Camera.ResetAspect()](https://docs.unity3d.com/ScriptReference/Camera.ResetAspect.html) on all VR capable cameras.
* In a scene with only a main camera, calling `Camera.main.ResetAspect()` after switching to non-VR (2D) mode is sufficient.
* If your scene uses multiple cameras, you can loop through `Camera.allCameras` as illustrated in https://github.com

[2017-08-05 05:53] fredsa commented on #628
Unity automatically adjusts both FOV (`fieldOfView`) and aspect ratio (`aspect`) when entering VR mode, but only restores FOV when exiting VR mode.

Having to call `ResetAspect()` on all VR capable cameras after leaving VR seems like an issue which would be best addressed by having Unity automatically restore the previous cameras' aspect ratios.

If you'd like to see this fixed, you can vote here:

[2017-08-05 06:30] fredsa commented on #660
@reed-alpert Can you file a Unity bug on a project which reproduces these right side artifacts?
Please reply here with the Unity case number, that way @joejo-unity will have a project to look at.

[2017-08-05 06:57] fredsa commented on #640
You mentioned setting `VRSettings=true` (rather than `false`). Can you try you `SwitchOutOfVr()` coroutine from https://github.com/googlevr/gvr-unity-sdk/wiki/Switching-between-VR-and-non-VR-at-runtime and confirm whether you still see the incorrect aspect ratio during switching?

Note that there are effectively two ways to leave VR:
1. Call `VRSettings=false` (but leave the Cardboard VR SDK activ

[2017-08-05 07:11] fredsa commented on #640
You can vote on the Unity issue which is causing you to have to call `ResetAspect()` here:
https://issuetracker.unity3d.com/issues/android-vrcardboard-aspect-ratio-not-preserved-when-switching-from-vr-cardboard-to-non-vr-vrsettings-dot-enabled-equals-false

[2017-08-05 07:15] fredsa commented on #618
This regression was fixed in the 1.70.0 release.

[2017-08-05 07:15] #618 closed

[2017-08-05 07:16] fredsa commented on #593
@jvergara92 Thanks for filing issue #618 for your unrelated audio issue.

[2017-08-05 07:41] fredsa commented on #555
Duplicate issue #421

[2017-08-05 07:42] #555 closed

[2017-08-05 07:50] fredsa commented on #593
Closing as the main issue reported here is fixed according to @AdrianaVecc at least three others who gave their thumbs up.

[2017-08-05 07:50] #593 closed

[2017-08-05 07:52] fredsa commented on #593
@xiesi88 Would you mind filing separate bugs for these two issues, so it's easier to track them individually?

[2017-08-05 16:44] joejo-unity commented on #660
Does this happen on any daydream phone or just the pixel XL?

On Aug 4, 2017 11:30 PM, "Fred Sauer" <notifications@github.com> wrote:

[2017-08-05 18:11] reed-alpert commented on #660
@fredsa  @joejo-unity
The Unity case is 939222 - it has the screen shots attached as well as a skeleton project that shows the issue.
For phones I've tried the Moto, which works fine, and the Pixel XL, which has the right-eye distortion.
Also Unity Editor on Windows 10 is fine.

[2017-08-06 16:02] Bonfi96 opened #680 "Any way to test cardboard apps without building?"
There is no insta preview for cardboard and there is no stereo preview in unity so I can't even use unity remote for some quick testing.
Is there anything I'm missing? Thanks!

[2017-08-06 16:46] VasilOrlinov commented on #669
i get the same error with 2017.2.0b5 and gvr 1.70. Deleting temp and library folders doesnt fix it.

[2017-08-06 19:08] fredsa commented on #627
Fixed in 1.70.0

[2017-08-06 19:08] #627 closed

[2017-08-06 19:09] fredsa commented on #663
Fixed in 1.70.0

[2017-08-06 19:09] #663 closed

[2017-08-06 19:54] fredsa commented on #601
Closing, after verifying that close/back button are both (still) working as expected in Unity 5.6.2p3.

* When clicking ✕ (close) or ◀ (back), your Unity app will get an escape key press
* In development and testing you can inject an artificial escape press using

[code]

* To handle this in your code, look for the key down event:

[code]

[2017-08-06 19:54] #601 closed

[2017-08-07 00:06] fredsa commented on #566
To correctly switch between VR and non-VR mode at runtime, see this example:
https://github.com/googlevr/gvr-unity-sdk/wiki/Switching-between-VR-and-non-VR-at-runtime

If calling `VRSettings.enabled=false` still causes your app to crash with a recent stable version of Unity, please:
1. File a bug with Unity
2. File a new issue in this issue tracker and include the Unity case number

Setting `VRSet

[2017-08-07 00:08] fredsa commented on #566
Closing as the original issue ("_GvrViewer.Instance.VRModeEnabled = false Does not work_") appears to be resolved.

[2017-08-07 00:08] #566 closed

[2017-08-07 03:59] emalafeew opened #681 "Missing Plugins/iOS/libaudiogvrunity.a in 1.70"
The audio library for iOS seems be missing in build 1.70.  It is in 1.60.

[2017-08-07 05:36] famagusta opened #682 "Arm Model Native C Definitions"
I am trying to access the native library functions for support of an arm model. I am getting an unsatisfied link error - definition not found.
Is the libgvr imported by unity different from the libgvr provided by googlevr android sdk? I am using version 1.70.0 for both.

[2017-08-07 16:01] nathanmartz commented on #682
For Unity, we recommend you use the built in controller components and prefabs, which have basically the same arm model (plus some additional, Unity specific features).

[2017-08-07 16:01] #682 closed

[2017-08-07 16:06] famagusta commented on #682
For my application, I am creating a new activity which has all rendering and controller input handling code written in c++. I am porting my library to enable use for unity end users. I cannot use Unity's built in controller components and prefabs. Can only use native functions in C.

[2017-08-07 16:21] fabien-lg opened #683 "GVR SDK blocks other plugins permissions on Android"
Hello,

I am using GVR (with SDKs None and Cardboard) in an app where there is also the need for a camera access.
Even if there is the needed permissions in the Android manifest, the application doesn't request the needed permissions, therefore the camera fails to open.
I have tested to ask for permissions with GvrPermissionsRequester but the application crashes when I call the RequestPermissions

[2017-08-07 18:42] VadimTikhonyuk commented on #680
You can add stereo preview, open demo scene in google package, Also you can connect smarpthone via USB and control camera in unity by this way

[2017-08-07 18:46] Bonfi96 commented on #680
The stereo preview is not supported anymore in 1.70

[2017-08-07 18:51] VadimTikhonyuk commented on #680
In my case I use 5.6.0f3 with GVR 1.4

[2017-08-07 19:04] VadimTikhonyuk commented on #671
Hi, tedruxpin,
There is log file, I cut it from adb logcat, so something important maybe lost, because full logfile is huge
[log.txt](https://github.com/googlevr/gvr-unity-sdk/files/1205839/log.txt)

[2017-08-07 19:19] tedruxpin commented on #683
Hello fabien-lg, can you attach a log from your crash?

[2017-08-07 19:54] fabien-lg commented on #683
Hello,

Here it is :

[code]

[2017-08-07 23:06] WeaselKing commented on #643
I would like this as well. Using a screen space overlay of a black picture was very useful for fading in and out for scenes. The new way that people seem to be doing it of obscuring the screen with an object doesn't work as well, and feels less professional. I'd just like to display things on the screen arbitrarily.

[2017-08-08 00:15] guitarrapc commented on #643
I've found issue only happen with Android, iOS can overlay uGUI with `Canvas Render Mode as Screen Space - Overlay` when using Stereo render is enabled.

[2017-08-08 00:59] savashito commented on #667
Thanks WeaselKing! I had no idea about the existence of GvrCardboardHelpers, was not available to find that in the documentation.

[2017-08-08 00:59] #667 closed

[2017-08-08 01:32] fredsa commented on #667
@savashito Thanks for pointing out the missing docs. I've filed an internal issue to get that fixed.

[2017-08-08 07:44] Marchelune commented on #670
Couldn't we at least have some help to set up dependencies ourselves ? Like it is done for Firebase ? https://firebase.google.com/docs/ios/setup#frameworks

[2017-08-08 08:10] guitarrapc commented on #670
Absolutely. What @Marchelune points out is key of this issue. Yes, iOS can be deploy If we use some CI Tool, like Jenkins or others, on macOS. But not for managed CI services which not support XCode or CocoaPods. I hope GVR Team offer any guide like other Google Tools done.

Off course "No support" is one of the choice. (better than no announcement.)

[2017-08-08 16:47] joejo-unity commented on #669
Can you please file a bug with Unity with a small repro project and reply with the case id here?

[2017-08-08 17:10] bbilodeau commented on #683
Hi Fabien,

Is your app a Cardboard app? I believe the PermissionsFragment will only work with Daydream VR apps.  This could explain why it's crashing in launchInVr.

Bill

[2017-08-08 22:17] adolfohd commented on #393
I have reimporting multiple times the GVRVideoPlayer.unitypackage file I get the message:

![unityerror1](https://user-images.githubusercontent.com/22692278/29096968-fad8f452-7c5c-11e7-9572-6c2af3b77fa9.png)

Nevertheless, I still get the message:

![unityerror2](https://user-images.githubusercontent.com/22692278/29096990-0db2b87e-7c5d-11e7-98b9-80d2e015f92b.png)

The console only gives me the war

[2017-08-09 01:00] #681 closed

[2017-08-09 06:12] tedruxpin commented on #679
Hello miraclestar, can you describe in a little more detail what you want to achieve?  Regarding the settings button, do you mean the gear icon in the corner?  When you say the eyes should see different objects, do you mean completely different scenes, or the more typical case of slightly different angles of the same objects?

[2017-08-09 07:42] fabien-lg commented on #683
Hello,

Yes indeed, it is a Cardboard application.
So, if the PermissionsFragment doesn't work in Cardboard, how can we request the camera permissions?

Thanks,

[2017-08-09 13:03] tribuanimal commented on #665
Thanks a lot for the solutions. Worked perfectly.

[2017-08-09 17:57] bbilodeau commented on #683
For Cardboard, you can request the permission at the start before the user puts the phone in the Cardboard viewer.

[2017-08-09 17:57] nathanmartz commented on #683
In Cardboard, you request camera permissions just like any other Android app.

[2017-08-09 17:57] #683 closed

[2017-08-09 18:39] isometriq commented on #666
I have the same error happening every frame (it's saturating he logs). I've tried the solution, but it seems to be already set up to "Camera".

Using Unity 2017.1 and GVR 1.7.0
I think i'm using Cardboard mode (is that here? Player Settings > Other Settings > Virtual Reality SDKs)

In the demo scene hierarchy, I select the element:
Player > Main Camera > GvrControllerPointer > Laser

In the inspec

[2017-08-09 18:46] dsternfeld7 commented on #666
This error is happening on the cardboard reticle (GvrReticlePointer), not the controller (GvrControllerPointer). Do you have the demo set to use the the cardboard reticle or the daydream controller?

Thanks,

Dan

[2017-08-09 18:46] isometriq opened #684 "Android black screen then crash at startup with demo ..and requires phone restart?"
Using Unity 2017.1 and GVR 1.7.0 with Cardboard on a Samsung S8

Trying to run the demos on Android

On any demo, half the time, there is a black screen at startup for 2 secs, then it's a hard crash. I see the home screen and icons are reloading (like a restart of home screen).

Will try to get some logs...

[2017-08-09 18:52] fabien-lg commented on #683
Hello,

Could you instruct on how to do that in Unity?
Because even if the permission is set in the manifest, the SDK seems to ignore it and the permission dialog is never shown.

Thanks

[2017-08-09 18:54] rusmaxham commented on #675
With the native support for Daydream/Cardboard in Unity 5.6 and beyond, there is no longer a need for GVRViewerMain, you simply configure the VR SDK in Player Settings > Other Settings > Virtual Reality SDKs: add Daydream and/or Cardboard as appropriate for your project.  Your main camera will automatically become a VR camera.  The GVR Unity SDK (since v1.40) no longer supports versions of Unity o

[2017-08-09 18:56] rusmaxham commented on #675
We will update our tutorials and documentation accordingly.  Thank you for pointing this out.

[2017-08-09 18:56] #675 closed

[2017-08-09 19:00] bbilodeau commented on #683
Check to see if this is in your manifest:
<meta-data android:name="unityplayer.SkipPermissionsDialog" android:value="true" />

It causes Unity to skip asking for permissions when the game starts. This is discussed in the Unity manual: https://docs.unity3d.com/Manual/android-manifest.html

[2017-08-09 19:01] bbilodeau commented on #683
Check to see if this is in your manifest:
"<meta-data android:name="unityplayer.SkipPermissionsDialog" android:value="true" />"

[2017-08-09 19:05] rusmaxham commented on #672
We're taking a look into this issue.  Thanks for the report.

[2017-08-09 19:26] fabien-lg commented on #683
Thanks @bbilodeau ,

This «skip» line was actually there, but without being in any of my manifests.
So I added
```<meta-data android:name="unityplayer.SkipPermissionsDialog" android:value="false"/>```
And it worked. I suspect that some Plugin or Unity itself is adding that when VR is enabled.
Maybe this is a question for Unity then...

Thanks for your help!

[2017-08-09 19:39] tedruxpin commented on #676
Hello ichabodcole, we have filed a bug to look into this further, thank you for bringing this to our attention.

[2017-08-09 20:30] fredsa commented on #675
@theboneses Currently the best place to get started is to open up the different demo scenes which are included in the SDK. Just type `t:Scene` in Unity's _Project View_ to see all scenes. Look for the `GVRDemo` scene as a starting point. (Note that the GVRDemo scene supports both Daydream and Cardboard, via the `DemoInputManager` prefab, so there's likely slightly more there that you need to get s

[2017-08-10 08:01] fabiocesarato opened #685 "Disable device Battery Notifications when charging"
Using Unity 5.6.2p4 and the Google VR SDK for Unity v1.70.

I have updated Unity and Google VR SDK and now I see **battery notifications** when the phone is **charging**.
I attached and image that show this notifications:
![screenshot_20170810-093224](https://user-images.githubusercontent.com/5769042/29159766-0a361944-7db0-11e7-94b9-4cbb899c34ca.png)

How could I disable this notifications?

I see

[2017-08-10 16:34] isometriq commented on #666
I was refering to that other element above because that's the only place I could find a "Raycast Mode" option.

I don't have `GvrReticlePointer` in my hierarchy
The closer I have to reticle is:
Player > Main Camera > Laser > Reticle
it's only a quad mesh with a shader

I'm using the stock demo of 1.7.0 asset package without any changes `/Assets/GoogleVR/Demos/Scenes/GVRDemo`.

[2017-08-10 16:42] dsternfeld7 commented on #666
Try looking for it under Player->MainCamera->GvrReticlePointer, or in the search bar type "t:GvrReticlePointer".

DemoInputManager automatically switches between using GvrReticlePointer (gaze-based cardboard reticle) and GvrControllerPointer (Daydream controller) based on what you have set in the "Virtual Reality SDKs" player settings.

[2017-08-10 18:19] isometriq commented on #666
Oh boy.. it was there all the time.
It was set to "direct". Setting it to "camera" fixes the errors.
Thanks

[2017-08-10 18:49] isometriq commented on #684
Here is a typical log...
[code]

[2017-08-10 18:57] isometriq commented on #684
Once a build crashes happens, the only way to make it work is by restarting the phone. Then it may work one or a couple of times.

- Uninstalling the app prior to building does not change that
- Launching the app already installed (no build or reinstall steps) does not change that

I haven't tried if launching the already installed app continues working  when it worked one time.

[2017-08-10 19:02] isometriq commented on #684
These particular lines of the log above may be interesting ?
[code]

[2017-08-11 00:42] trlewi commented on #582
Hi AdrianVecc do you know what GvrViewer has been replaced by. I am trying to use GvrViewer.Instance.Triggered and getting the compiler error, but can't seem to find what it was replaced with. Your help would be greatly appreciated.

[2017-08-11 00:46] Bonfi96 commented on #582
I'm pretty sure the cardboard button is considered deprecated and they removed the functionality.
Cardboard v2 uses touch as a trigger.

[2017-08-11 08:04] VIRTUALITYREPOSI commented on #315
I am experiencing the same issue on both iPod touch 6th Generation, and Samsung Galaxy S7.  Using GVR SDK 1,7 and Unity 2017.1.0f3.  Any help would be greatly appreciated.

[2017-08-11 08:21] Kermeth commented on #582
I've changed GvrViewer, and used Unity VR InputTracking, but yes it is frustrating to upgrade a project with gvr 0.80

[2017-08-11 10:07] miraclestar commented on #679
@tedruxpin thanks for you reply.

yes,I want to erase the gear icon in the corner.  Unity2017.1, GVR1.7;

![image](https://user-images.githubusercontent.com/1502697/29209120-96415e20-7ebf-11e7-872b-a5337d12a290.png)
I have 3D pictures like this , I want the left eye can only watch the left picture, right eye can only watch the right picture. so how to do this?

[2017-08-11 10:26] vinhui commented on #679
Add another camera, and set the left and right eye field accordingly. Then use camera culling mask to only show something for 1 eye.

[2017-08-11 12:51] trlewi commented on #582
Yeah got rid of the GvrViewer class and just went ahead with implementing a touch input and it's working just fine now.

Thanks @Bonfi96

[2017-08-11 16:56] ichabodcole commented on #676
👍 Thanks!

[2017-08-11 21:43] SamtheSpartan commented on #661
Having the same problem. Pressing the gear, skipping and then returning to the app seems to fix things, but it's still unreleasable that way.

[2017-08-12 08:13] paulpv commented on #677
I am seeing what I think is the same problem on a mesh that I am programmatically building while parsing a .CTM file.
The object mesh renders fine in the editor and desktop build, but when run in Android the object mesh cannot be seen.

I am a bit new to Unity; How can I create a unlit/transparent multi-pass renderer in C# code?

[2017-08-12 14:44] miraclestar commented on #511
good ，tested  in Unity 2017.1, GVR1.7.

[2017-08-13 23:14] alexberd opened #686 "Apple store rejects Unity GVR app due to “Kids Category”"
Publishing a unity ios app with GVR v.1.6 under the apple's "Kids" category, app is declined due to GVR help button (the small '?' at the bottom left) which is activated when the setting button (at the top right) is pressed. According to iTunes Connect support "it includes links out of the app or engages in commerce without first obtaining parental permission".

As per GVR version 1.00 the "settin

[2017-08-14 03:20] sccdhyt opened #687 "How can I use single screen mode on Android device"
I‘m using unity 2017.1.0f3 and gvrunity sdk 1.70.
I had seen some issues about switch between VR mode and NonVR mode.
I tried the code like:
void Start () {
		StartCoroutine (initiatevrcoroutine ());
	}

	// Update is called once per frame
	void Update () {

	}

	IEnumerator initiatevrcoroutine()
	{
		VRSettings.LoadDeviceByName("");
		yield return null;
		VRSettings.enabled = false;
	}
I tried to

[2017-08-14 07:41] Kermeth commented on #687
If you're trying to use the Magic Window Mode you can use this:

[code]

More info here: https://docs.unity3d.com/Manual/VRDevices-GoogleVR.html

[2017-08-14 12:26] imbible commented on #634
There appears no longer the bug in 1.70.

[2017-08-14 12:26] #634 closed

[2017-08-14 20:18] ezotb commented on #675
Hi, I've been following tutorials for a stereoscopic project that reference the right eye and the left eye in GVRViewerMain in order to provide a different image to each eye. With the depreciation of GVRViewerMain, I no longer have access to the creation of a left and right eye and culling masks. Do you have any advice on how to manage stereoscopic images? Thank you

[2017-08-14 20:27] Bonfi96 commented on #675
I'm not sure but they may be created at runtime, try to print the children of the "mono" camera

[2017-08-15 00:06] ezotb commented on #674
Any updates? I cannot run the demo.

[2017-08-15 06:24] vinhui commented on #675
You could also create 2 cameras, one for the left eye, and one for the right. See https://docs.unity3d.com/ScriptReference/Camera-stereoTargetEye.html (which can be set in the inspector).

[2017-08-15 07:05] VIRTUALITYREPOSI commented on #654
Unity 2017.1.0f3 and GVR SDK 1.7

[2017-08-15 08:03] soundreactor commented on #665
same here

[2017-08-15 08:06] GoGoBlitz commented on #665
Well, I recommend to all downgrade to unity 5.5.3 + gvr 1.4 it is only combo which works perfectly without bugs and with good fps.

[2017-08-15 09:08] qiaonifengxue opened #688 "library not found for -lGTMSessionFetcher"
error :  Showing Recent Issues ld: library not found for -lGTMSessionFetcher

Unity 2017.1.0f3
Google ios  SDK 1.7

How can I solve the problem?
<img width="880" alt="123123123213" src="https://user-images.githubusercontent.com/26831898/29309452-624d68aa-81dc-11e7-95d1-bd607ac553ac.png">

[2017-08-15 14:43] sandorvasas commented on #645
I'm having the same error. Did you find any solution?

[2017-08-15 20:10] fredsa commented on #671
On S8+, can you let us know if the Cardboard app runs correctly (no crash) when you set the phone's screen resolution to the native device resolution:

  Settings > Display > Screen resolution > **WQHD+** > _APPLY_

[2017-08-16 06:47] clarkehe commented on #687
@Kermeth  Your suggestion doesNOT work!

[2017-08-16 06:52] vinhui commented on #687
Do you set the rotation every frame?

[2017-08-16 06:54] tazzkiller opened #689 "VideoPlayer Black Texture with Video sound"
On Samsung Phone the video player return a black texture to quad or sphere object but the video sound is playing.

[2017-08-16 16:43] rusmaxham commented on #689
What version of Unity?  What version of the GVR Unity SDK?

[2017-08-16 16:46] rusmaxham commented on #688
Did you open the .xcodeproj or .xcworkspace file?

[2017-08-16 16:48] wojwen opened #690 "Controller not working when Time.timeScale = 0"
Few days ago I posted a thread about this bug. It's about the controller not working properly when Time.timeScale is set to 0. The controller isn't visible if Time.timeScale i 0 from the start, it doesn't interact with UI and tooltips are invisible. I managed to fix this by making following changes:
In `GvrLaserVisual.cs` replace
`return lerpSpeed > 0.0f ? lerpSpeed * Time.deltaTime : 1.0f;`
with

[2017-08-16 16:50] rusmaxham commented on #675
You can also write a custom shader for your stereo image that selects different regions of the source image based on eye index.  The gvr video shader has this capability:

https://github.com/googlevr/gvr-unity-sdk/blob/27666a66e54427758c8a6aaa6701084ffd456cff/Assets/GoogleVR/Shaders/Video/VideoUnlitShader.shader#L60

This is probably going to be the most efficient implementation of stereo image re

[2017-08-16 20:13] tazzkiller commented on #689
GVR 1.70
Unity 2017.1.0f3

[2017-08-17 01:11] fredsa commented on #666
The `GvrReticlePointer` prefab has the wrong (`Direct`) default raycast mode in 1.70.0.
This should be fixed in the next release. The prefab default will be `Camera`.

[2017-08-17 02:08] clarkehe commented on #677
@paulpv Ugui use transparent material by default. You can enable Multi-Pass Rendering in player setting.

[2017-08-17 06:38] Cooper6334 commented on #689
I have same issue with Unity 5.6.2f1 and GVR1.7, Samsung S7. But it works fine on HTC M9.

[2017-08-17 07:53] sandorvasas commented on #689
Same issue for me with the SDK's VideoDemo. I also tried to wait for 3 seconds after launching the app and then starting the playback but still got black screen.

With latest GVR SDK + Unity 5.6.2f1

Not sure if it's related, but log displays

`
OPENGL NATIVE PLUG-IN ERROR: GL_INVALID_ENUM enum argument out of range
(Filename: ./Runtime/GfxDevice/opengles/GfxDeviceGLES.cpp Line: 383)
`

I wanted t

[2017-08-17 10:28] Martin-Pitt commented on #636
I have also been having issues with the Video demo scene on iOS devices.

[2017-08-18 06:41] moyicat opened #691 "Can't preview GVR 1.60.0 in Unity 2017.1.0f3"
Tried to start a new project, and import `GoogleVRForUnity.unitypackage`, still getting this error message:
[code]
It works on my Android device if I build and run.

[2017-08-18 10:26] Arakade commented on #687
@vinhui hey, I find it works if I VRSettings.LoadDeviceByName("cardboard"); (other stuff the same).  HTH

[2017-08-18 18:36] paulpv commented on #677
Turns out my issue on Android was due to simply failing to load the model from file because of problem using System.IO.StreamReader and System.IO.FileStream instead of the Unity recommended "Resources.Load(...)".
I didn't initially see the problem because flipping the Console to show output from the running Android Player seems unreliable.

[2017-08-18 19:32] alejodaraio commented on #689
Same issue here with S8

[2017-08-18 20:35] alejodaraio commented on #691
i thinks is not a issue

[2017-08-19 02:56] otri opened #692 "Repo missing .meta files"
All prefabs and source linkages are broken without the necessary .meta files.

[2017-08-19 17:02] davtamay commented on #669
Same error, 2017.2.0xb6 and gvr 1.70... previous solutions involved getting rid of a text file within the android plugins folder, but I am at a loss about what to get rid off now for a solution...

[2017-08-20 21:07] davtamay commented on #669
Solved by modifying x86 plug-in file under libs in inspector. Just changed android Armv7 to x86 in android setting. Contribution goes to:

https://forum.unity3d.com/threads/cannot-build-for-android-found-plugins-with-same-names-and-architectures-dear-god.431203/

[2017-08-21 08:29] qiaonifengxue commented on #688
open  .xcworkspace，But now the error is reported
<img width="1034" alt="qq 20170821162856" src="https://user-images.githubusercontent.com/26831898/29510293-e2c72ed4-868d-11e7-8d4f-609bbd75dbdd.png">

[2017-08-21 11:27] neospirit commented on #560
Same issue here. But app is working on an iPhone 5 but not on iPhone 6S or iPhone 7 Plus. And it works on Android on a LG Nexus with Android 7.0

[2017-08-21 16:13] dustinkerstein opened #693 "Allow for "Reduce blur" low latency screen mode when VRSettings.enabled = false"
My app allows toggling between the Magic Window and VR modes as loosely described here -
 https://docs.unity3d.com/Manual/VRDevices-GoogleVR.html

When I set  VRSettings.enabled = false, it doesn't allow me to use the reduced blur latency screen mode. I see this:

`I/VrManagerService: VR mode is allowed
`

But when VRSettings.enabled = true, the reduced blur low latency mode kicks in and I see thi

[2017-08-21 18:03] lamhoan commented on #673
Yeap, go the same problem. And it seems to be affecting daydream only. I ported my app to Oculus Gear VR, Pico Goblin, Cardboard without any problems. There is something the Daydream sdk does which messes with the water reflection. I tried playing with the water pro script but so far no luck.
I would appreciate any help on this! Thanks

[2017-08-21 18:44] rusmaxham commented on #636
The video plugin is only supported on Daydream devices.  It may work in cardboard on some Android devices, but there is no support for it on iOS at this time.

[2017-08-21 18:44] #636 closed

[2017-08-21 18:46] rusmaxham commented on #689
Thanks for bringing this up.  We'll take a look.

[2017-08-21 18:51] rusmaxham commented on #689
That invalid enum error is a red herring and occurs even when the video plugin works properly on Pixel devices.

[2017-08-21 19:00] rusmaxham commented on #692
The github repo is not a fully functional repo of the plugin.  It is meant to be used for reference.  Please use the .unitypackage in your Unity projects.

[2017-08-21 19:02] rusmaxham commented on #691
This is working as intended.  Only the Daydream VR SDK is supported in Editor.

[2017-08-21 19:02] #691 closed

[2017-08-21 19:05] nathanmartz commented on #692
[just you]

The repo actually should be fully functional now, so this is a legit bug.
We took steps in that direction before the handoff, but I think mira just
missed the meta files.

On Mon, Aug 21, 2017 at 12:00 PM, Rus Maxham <notifications@github.com>
wrote:

[2017-08-21 19:42] otri commented on #692
Thanks Nathan.  Yeah, probably the .meta files were hidden by default, which resulted in them being missed on commit. They're pretty essential for version control, so @rusmaxham I recommend re-opening this ticket until .meta files are back in the repo.

[2017-08-21 19:43] thep3000 commented on #688
I can not repro this issue on Unity 2017.1.0f3.  A blank project setup for cardboard (or a project with gvr-unity-sdk 1.7 sample scenes) builds and runs fine on iOS.

Can you provide a repro project or precise repro steps?  A longer log might help as well to see what duplicate symbols are being reported.

[2017-08-21 20:24] rusmaxham commented on #693
GoogleVR doesn't support low-persistence display outside of fullscreen VR.  If it used to work it was unintentional.

[2017-08-21 20:24] #693 closed

[2017-08-21 20:28] dustinkerstein commented on #693
Bummer, it was a very nice feature. It seems like most games / 3D apps would benefit from this low-persistence mode. Thanks for the update though.

[2017-08-22 22:19] dsternfeld7 commented on #679
Additionally, you can render stereo images using a shader to control what texture is used for each eye. An example of this can be found in the Media App Template [here](https://github.com/googlevr/media-app-template/blob/master/Assets/MediaAppTemplate/Shaders/MediaScreen.shader)

[2017-08-22 23:07] rusmaxham commented on #690
Great suggestion.  We're integrating something like this now.

[2017-08-22 23:18] dustinkerstein commented on #661
Any updates on this? It's definitely a blocker for using 2017.1.0f3 on iOS.

[2017-08-22 23:49] SamtheSpartan commented on #661
No, still having this issue on iOS. I've voted on the issue in the Unity forums... we'll see if anyone responds!

[2017-08-22 23:49] dustinkerstein commented on #661
@SamtheSpartan, can you post the Unity forum bug link here? Thanks.

[2017-08-22 23:51] SamtheSpartan commented on #661
Here it is:

https://issuetracker.unity3d.com/issues/ios-cardboard-opengles-black-screen-on-vr-cardboard-builds-with-opengles2

[2017-08-23 04:59] ezotb commented on #675
On Wed, Aug 16, 2017 at 9:51 AM Rus Maxham <notifications@github.com> wrote:

Rus,Thank you for the info. It's a bit much for me to implement at my
current state of knowledge, but I'll take a look and see what I can figure
out.

[2017-08-23 05:12] MartinjMartin opened #694 "Unable to convert classes into dex format when i am using new firebase and gvr sdk 1.30"
I have a working copy of my Unity project which uses gvr sdk 1.30 and firebase, now i updated the firebase to latest version. after that when i am building i am getting the error - Unable to convert classes into dex format... i have updated  gvr to 1.40 , still i am getting the same issue.. i looked for the duplicate jar files and classes but i could not reach to a solution.

i also get a log - go

[2017-08-23 07:59] jules43 opened #695 "Unity Cardboard Applications crashing on Samsung S8 since update to Google VR Services"
Recently my family of Unity 5.6.x / Google Cardboard VR applications started crashing on start-up on Samsung S8 phone.

If I go into the Application manager in settings and disable "Google VR Services" then the crash no longer occurs.

This problems is being seen by a fair number of Unity developers and is discussed on this thread:

https://forum.unity3d.com/threads/galaxy-s8-crash.486911/

I have

[2017-08-23 08:14] miraclestar commented on #679
thanks @dsternfeld7

[2017-08-23 10:01] #687 closed

[2017-08-23 11:49] parkitny commented on #654
I have the same issue. I have tried to compile with gvr sdk 1.8, 1.6, 0.9, 0.7. The issue occurs with all apps ive compiled that use the gvr sdk to render. It seems like the scene renders to the max device resolution and the viewport crops out a section at the current configured device resolution. Hence resulting in a zoomed in effect. It was fine on android 6.0 on my galaxy S7 but upgrading to an

[2017-08-23 13:09] Ari3n commented on #695
Simular issue here! Galaxy s8 . the app i develop starts with a Screen space menu, then when toggling to VrR mode the whole mobilefreezes and the app crashes. That crash even sets the wallpaper to the default one.

[2017-08-23 15:10] sccdhyt opened #696 "When I switch mono screen mode to stereo mode, the gyo seems like works abnormally."
I use the magical window mode to switch the mode.

Camera.main.GetComponent<Transform>().localRotation = UnityEngine.VR.InputTracking.GetLocalRotation(VRNode.CenterEye);

When I make the screen toward the horizontal direction, and switch from mono screen mode to stereo mode, it seems like works well.
But if not facing toward the horizontal direction, for example, if rotate the device a little down

[2017-08-23 16:07] fredsa commented on #654
Duplicate of #421

[2017-08-23 16:13] #654 closed

[2017-08-23 16:16] fredsa commented on #695
Duplicate of #671

[2017-08-23 16:17] #695 closed

[2017-08-23 16:33] jules43 commented on #695
This bug still occurs when the screen resolution is already WHQD+ and occurs prior to enabling VR mode.

[2017-08-23 17:31] jayd16 opened #697 "Sdk will reset position of all cameras in scene"
The following code snippet from GvrControllerInput.cs is causing some headaches.   We can't have any custom cameras rendering to texture without having to worry about their rotation getting reset.  Any chance we can change this to ignore cameras with a stereoTargetEye set to None?

`  private void UpdateController() {
    controllerProvider.ReadState(controllerState);

#if UNITY_EDITOR
    // If a

[2017-08-23 17:43] rusmaxham commented on #697
We have fixed this issue in the next release of the SDK.  You can safely remove the entire #if UNITY_EDITOR block in your local copy to work around the issue until the next release.

[2017-08-23 17:43] #697 closed

[2017-08-23 17:49] rusmaxham commented on #679
Why do you want to disable the settings button?  We strongly discourage doing this as this gives users access to general VR settings and is not visible to users when wearing a headset.

[2017-08-23 17:53] rusmaxham commented on #675
Here's a somewhat simpler example written in CG instead of GLSL:

https://github.com/googlevr/media-app-template/blob/1c6d13e77b4b6f01fc4fe2864276f1e3d5ca03bb/Assets/MediaAppTemplate/Shaders/MediaScreen.shader#L56

[2017-08-23 21:45] rusmaxham commented on #694
Some things to try:
• Upgrade to GoogleVR for Unity plugin v1.70
• Use Android API level 24
• If you're using Unity 5.6.x you'll need android-sdk-macosx-25.2.5 you can download the old version http://dl-ssl.google.com/android/repository/tools_r25.2.5-macosx.zip
• Make sure your Android dependencies (AARs / JARs etc.) are up to date.
• Delete Plugins/Android/
• Import the GVR and Firebase plugins a

[2017-08-23 22:02] ichabodcole opened #698 "GVR 1.70 - No Audio from GvrAudioSource"
I have tested this in both on my own project and using the GVR demo scene and no audio is being played (both in Editor and Device build). This seems to be related to the GVR Audio Renderer effect on the GvrAudioMixer. If I bypass that effect in the mixer I hear the audio and it seems to be spatialized or at least directional, but I'm not sure what GVR Audio Render actually does. As far as I can te

[2017-08-23 22:48] rusmaxham commented on #692
I just pushed the .metas.

[2017-08-23 22:48] #692 closed

[2017-08-23 23:17] ichabodcole commented on #698
Durp! Missed the part where I needed to set the spatializer plugin in the Audio project settings. This step is not described in SDK's into to setting up Gvr audio, would probably save a few headaches if that step was added.
https://developers.google.com/vr/unity/spatial-audio

[2017-08-23 23:17] #698 closed

[2017-08-23 23:18] andrelevi opened #699 "1.7.0 Keyboard Demo Crashing"
Hi, when running the Keyboard demo in the 1.7.0 repo the app crashes immediately with no error in the logs.

I remember I reported a similar issue with the keyboard demo before, and it was then fixed in an update of the DaydreamKeyboard app (I believe).

I now need user input via the Daydream keyboard for my app, so this issue is pretty critical for me.

Thanks!

[2017-08-24 00:08] otri commented on #692
Wonderful, thank you!

[2017-08-24 00:15] ezotb commented on #675
Hi Rus,
That is sooo slick! I played around with it and got to work. (Learned some
new things as well) I can't thank you enough for your help.
Peter

On Wed, Aug 23, 2017 at 10:54 AM, Rus Maxham <notifications@github.com>
wrote:

[2017-08-24 00:32] fredsa commented on #696
After existing VR mode you may need to reset the camera aspect ratio ([Camera.ResetAspect](https://docs.unity3d.com/ScriptReference/Camera.ResetAspect.html)):

[code]

For a full example of switching between VR and non-VR mode, see https://github.com/googlevr/gvr-unity-sdk/wiki/Switching-between-VR-and-non-VR-at-runtime.

[2017-08-24 01:20] sccdhyt commented on #696
@fredsa Thanks for you reply.
I had tried this example before, but when I switched to non-VR mode the camera can't rotate by rotating the device. I just want the result like this.
https://docs.unity3d.com/ScriptReference/Camera.ResetAspect.html

Sometimes, you might want to apply a non-stereoscopic view with head tracking applied (for example, if you want to view a 2D image in VR, or provide a 2D

[2017-08-24 03:39] sccdhyt commented on #696
Maybe my description is difficult to understand, here is a gif to show my problem.
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/29728329/29648407-85981842-88c0-11e7-9ed4-e8b5809a88bf.gif)
When I switch from non-VR mode to VR mode, the position of the gameobject in the view of camera is irregular.

[2017-08-24 05:17] fredsa commented on #696
Ah, I see. Thanks for the video.

You need to reset the camera rotation when you return to VR mode:

[code]

[2017-08-24 06:51] sccdhyt commented on #696
@fredsa Thanks！ It works well now by using the code.
And another question, I just want to get the view of left and right camera when in VR
 mode. I had tried Camera.main but seems not work, Can you tell me the tag of the left and right camera?

[2017-08-24 09:25] Pseudopode commented on #671
I have the same problem with a S8.

@fredsa : I made the test you asked for. Here's the results, with the latest Google VR Services update :
- S8 with the Google VR Services **activated**, @**FHD+**(2220x1080) resolution  = **crash on startup** for the app
- S8 with the Google VR Services **deactivated** @**FHD**+(2220x1080) resolution  = **app runs fine**, I can push screen luminosity as high as

[2017-08-24 10:53] VadimTikhonyuk commented on #671
@fredsa There have any way to open native settings and give user to change resolution. Similar to how this work in Gear VR. I have some skills in writing plugins on java

[2017-08-24 16:11] fredsa commented on #671
@Pseudopode, thank you for confirming and sharing your results with WQHD+ and FHD+.

The behavior you're seeing when deactivating Google VR Services is expected as this service is responsible for entering VR mode, which includes enabling Low Persistence mode, which helps greatly with user comfort and image quality.

[2017-08-24 16:12] fredsa commented on #671
@VadimTikhonyuk We're looking into this underlying issue. If in the mean time you have a workaround, please feel free to share here.

[2017-08-24 16:18] martinbilello commented on #699
Which version of the DD Keyboard and which version of Unity are you using?

[2017-08-24 16:22] andrelevi commented on #699
Unity: 2017.1.0p3 OSX
DD Keyboard: 1.8.170718013

Thanks

[2017-08-24 16:25] fredsa commented on #696
I think you want to use the `unity_StereoEyeIndex` shader constant, see https://docs.unity3d.com/Manual/SinglePassStereoRendering.html.

[2017-08-24 16:26] fredsa commented on #696
Closing since everything is working.

[2017-08-24 16:26] #696 closed

[2017-08-24 16:57] martinbilello commented on #699
I'm able to run the Keyboard Demo on my end with those versions you mentioned.
Would you be able to provide a logcat of the crash run?

[2017-08-24 17:10] andrelevi commented on #699
Hi,

[code]

If I disable the GvrKeyboardManager, the app no longer crashes at start.

Thanks

[2017-08-24 17:14] martinbilello commented on #699
Are those 4 lines the only thing you see after the "beginning of crash" line?

[2017-08-24 17:16] andrelevi commented on #699
Actually, it seems like a restart of my phone fixed it. Maybe I had some updates queued or something that required a restart. Sorry for taking up your time!

[2017-08-24 21:03] dustinkerstein opened #700 "Asynchronous Reprojection causes wobble in Magic Window mode"
If the "daydream" device is loaded and Magic Window mode is enabled via VRSettings.Enabled = False then it will feel as though the screen has a wobble / jello effect.  This is due to the Asynchronous Reprojection, but the effect seems to be much worse in Magic Window mode vs. stereo VR mode. Maybe it's just due to VR mode also enabling the Low Persistence screen mode, but it's a very undesirable e

[2017-08-24 22:34] dustinkerstein commented on #700
And further, I'm not quite sure I actually understand why I see this wobble effect in VR mode at all (though it is about 4x less severe compared to Magic Window mode). This VR mode wobble can easily be seen in any Daydream app when the phone is outside of the headset. Just give the phone a shake and you should see the black frames of the eye views wobble. Is this VR mode wobble by design? It just

[2017-08-25 00:34] rusmaxham commented on #675
Yeah, the shader lab stuff is daunting at first glance, but super satisfying when you figure it out and make some really powerful stuff.  Totally worth taking the time to climb the learning curve.  And there's plenty of shader code out and about on the internet in source code form to learn from.  If you start feeling super saucy with shaders, check out https://www.shadertoy.com/.  That place make

[2017-08-25 12:53] dustinkerstein opened #701 "VRDevice.model is null unless VRSettings.enabled is True"
Apologies if this is more of a Unity issue vs GVR, but I figured I start here.

This likely is as designed, but it'd be very helpful to know what headset is configured even before enabling the VR mode.

My particular usecase involves supporting both the Daydream View headset and other Cardboard headsets. I need to know if the "Please insert your phone into the Daydream headset" transition view is

[2017-08-25 13:01] dustinkerstein opened #702 "Allow prevention of Daydream View transition screen"
I'm trying to handle both Daydream View and Cardboard headsets in a single Unity app (2017.1.0f3) and the "Please insert your phone into the Daydream View headset" is causing some UX troubles (see #701). Unity currently allows disabling the Cardboard headset transition screen (as a check box on the supported VR device list). Would it be possible to do the same for Daydream View headset? Or could t

[2017-08-25 13:04] nathanmartz commented on #702
Can you give a bit more detail about how that screen is causing you trouble
on daydream? I can't think of any cases where you'd go from 2D into VR and
not need that screen, but would like to understand your specific case.

On Aug 25, 2017 6:01 AM, "dustinkerstein" <notifications@github.com> wrote:

[2017-08-25 13:07] nathanmartz commented on #701
My recommendation is that you don't use the GVR SDK for magic window. Just
get the gyro data from unity and use it to rotate the camera. I think
that'll make your life much easier.

On Aug 25, 2017 5:53 AM, "dustinkerstein" <notifications@github.com> wrote:

[2017-08-25 13:09] nathanmartz commented on #700
The wobble is not a bug. You can't see it while in VR. The fact that you
can see it if you take the phone out of the viewer is a red herring. I
think the core issue is that you are using the GVR SDK for magic window and
it's not really meant for that.

On Aug 24, 2017 3:34 PM, "dustinkerstein" <notifications@github.com> wrote:

And further, I'm not quite sure I actually understand why I see this w

[2017-08-25 13:13] dustinkerstein commented on #702
Sure thing. I'd like to start in 2D, present the user a choice of whether to stay in 2D (but maintain gyro camera) or go into VR mode. Selecting VR works just fine and the transition screen is beneficial. But when I select 2D (which loads the "cardboard" device and sets VRSettings.enabled = false) I still get that transition screen.

I just saw your comment on #701 recommending to just use the gyr

[2017-08-25 13:23] dustinkerstein commented on #700
K. I'll try Magic Window without any VR device loaded - though if that is the best solution,  it may be worth asking the Unity folks to update their docs and also updating the GVR wiki as I believe both say you can use Magic Window by just setting VRSetting.enabled = false (see step 5 here -
https://github.com/googlevr/gvr-unity-sdk/wiki/Switching-between-VR-and-non-VR-at-runtime)

Also, just due

[2017-08-25 13:49] dustinkerstein commented on #701
Thanks  I'll give that a try. That very well could avoid all of the issues noted in #700, #701, and #702. The only downside is that I won't be able to use the exact Google VR tracking implementation which I feel is likely the best available...

[2017-08-25 14:00] dustinkerstein commented on #701
Yah, I have a feeling like that may not end up working well enough due to this post - https://forum.unity3d.com/threads/using-google-vr-head-tracking-without-activating-vrmode.484467/ - I'll try to find a good gyro sensor fusion script, but if that doesn't work out, can you think of any other possible solutions? I'd really still much prefer to use the camera tracking from Google VR if possible.

[2017-08-25 18:02] fredsa commented on #701
At runtime you can iterate through [VRSettings.supportedDevices](https://docs.unity3d.com/ScriptReference/VR.VRSettings-supportedDevices.html) which is an array of all devices which are supported in the current environment.

Note:
* The None device is returned as an empty string: `""`
* Device names are returned lowercase: `"daydream"`, `"cardboard"`
* Device names are returned in the order set in

[2017-08-25 21:52] nathanmartz commented on #685
Unfortunately this is a system notification that we can't work around.

[2017-08-25 21:52] #685 closed

[2017-08-26 03:12] dustinkerstein commented on #701
Hey @fredsa , I'm actually looking for the loaded headset (VRDevice.model) rather than the loaded / supported VR devices.

[2017-08-26 04:30] dustinkerstein commented on #700
So I've spent some time with various gyro/accelerometer scripts (one even with sensor fusion) but the accuracy and latency isn't even close to the performance of the native GVR orientation tracking. While calling VRSettings.LoadDeviceByName("") does solve the UX issues of the Daydream View interstitial (since it's no longer relying on GVR at all), it leaves me with a sub-par orientation tracking s

[2017-08-26 04:38] nathanmartz commented on #700
Having a single thread instead of three would definitely be good and keep
the discussion focused.

Regarding magic window and sensor fusion, I recommend you check out this
excellent article from Boris Smus. It even has source.
http://smus.com/sensor-fusion-prediction-webvr/

On Aug 25, 2017 9:30 PM, "dustinkerstein" <notifications@github.com> wrote:

[2017-08-26 04:40] dustinkerstein commented on #700
K, I will do that now.

Yeah, that's a great resource, but IMO it would just be reinventing the wheel at this point. GVR has already essentially solved this problem. It's just not exposed in all cases where you want to use it.

[2017-08-26 05:10] dustinkerstein opened #703 "Single app UX for handling Daydream, Cardboard, and Magic Window"
_This is a consolidation of the discussion in #700, #701, #702 which were focused on various possible workarounds of the inability to handle this UX._

Here's what I'm looking to accomplish:  I'd like to have a single app that can seamlessly transition between VR and Magic Window modes that works for both Daydream View and Cardboard headsets, and maintains great orientation tracking in both modes.

[2017-08-26 05:11] dustinkerstein commented on #701
Closing this issue in favor of tracking in #703

[2017-08-26 05:12] dustinkerstein commented on #702
Closing this issue in favor of tracking in #703

[2017-08-26 05:12] #702 closed

[2017-08-26 05:13] dustinkerstein commented on #700
Ok, I create #703 to track this UX discussion and closed the other two issues.

However, I'd like to keep this issue open, as it does seem like there is a bug with Magic Window mode + Daydream device. I'll just try to keep the discussion focused on that particular issue now. Sorry about the tangents.

[2017-08-26 13:32] #700 closed

[2017-08-26 13:48] dustinkerstein commented on #532
Just an FYI - I've opened up a new issue (see #703) to discuss the overall UX for handling Daydream + Cardboard + Magic Window in a single app.

[2017-08-26 17:38] fredsa commented on #701
@dustinkerstein The `VRDevice.model` isn't available until the corresponding VR SDK / device has been loaded, because determining the device model is done by the VR SDK.

`VRSettings.supportedDevices` will tell you which VR SDKs can be loaded in the current environment, so it will tell you whether `"cardboard"` or `"daydream"` is supported (assuming you added the desired SDK(s) under **Player Sett

[2017-08-26 20:29] fredsa commented on #703
@dustinkerstein Would you mind posting this question on Stack Overflow, which is a better place to advice and how-to's?

Please leave a link to your question in this issue.

[2017-08-26 20:54] dustinkerstein commented on #703
I can certainly do that, though I do feel like this is supposed to be a supported UX, but is blocked by various parts of the current design. Do you feel the above is not a supported UX?

[2017-08-26 21:26] fredsa commented on #703
"Magic Window" mode is not currently a supported feature, so marking this issue as a "feature request" as the SDK is currently focused on provided the best stereo / VR experience. Magic Window mode can, however, be made to work without too much effort. The question of what's the best way to do that (there's more than one option) is most appropriate for Stack Overflow.

[2017-08-26 22:10] dustinkerstein commented on #703
Interesting. I thought it actually was a supported feature. IMO it needs to be. If here is not the right place, where would be the most appropriate place to actually request this?

I truly believe it's crucial for developers building Daydream / Cardboard apps to have a seamless VR <-> Magic Window UX. And yes, while it can be made to work, there are either UX issues (unavoidable overlay when using

[2017-08-26 23:26] andrelevi commented on #699
So it turns out that this crash occurs after a while (I'm not sure of the exact cause), but it is fixed by restarting my phone. I've repeated this cycle 3 times so far.

To answer your last comment, the last log in the logcat I get is:

[code]

[2017-08-27 13:16] pfreema1 commented on #674
I have the same issue.  FPS displaying in the editor's game mode, but nothing while testing on actual device.

specs:
OSX
Unity5.6.0f3
GVR 1.7
Pixel

[2017-08-28 16:12] fredsa commented on #703
Magic Window was a supported feature in the early days of the Cardboard SDK, before the native integration with Unity. The native integration effort is focused creating the best possible VR experience.

Bugs and Feature Requests are best recorded in this issue tracker. I've marked this bug a "feature request".

Magic Window doesn't require special VR features such as asynchronous reprojection, and

[2017-08-28 16:22] dustinkerstein commented on #703
Thanks for the background.

That is entirely possible to do, but none of the `Input.gyro` scripts (ones I've written myself, found on the Unity forums, and even a sensor fusion one I've found on Google) come remotely close to the tracking accuracy and latency of the GVR head tracking system. It's just that much better. Rolling my own solution that's more closely on par with GVR honestly just feels

[2017-08-28 16:31] martinbilello commented on #699
Hmm, those lines don't seem to belong to a crash, they are just informative. Are you just filtering for Unity lines? It would be more useful to have a full logcat

[2017-08-28 18:34] andrelevi commented on #699
D'oh! Sorry, you are completely right. I've been using an aliased command for so long I totally forgot.

Here are what I believe to be the relevant parts of the logcat:

[code]

Restarting fixes this issue for some reason, every time.

[2017-08-28 21:13] dustinkerstein commented on #701
It looks like VRDevice.model doesn't update when the user toggles between headsets using the VR services UX. You need to fully unload/reload the VRDevice itself, or restart the app. I tried waiting multiple frames with `yield return null` but it still doesn't return the current headset if it was changed during runtime. Do you feel like that's a bug? This would really be the only way I can effectiv

[2017-08-28 21:19] fredsa commented on #701
Would you mind filing a new bug for the issue of `VRDevice.model` not updating itself after the VR SDK / device has been loaded? It's helpful if every issue only covers one subject.

[2017-08-28 21:19] #701 closed

[2017-08-28 21:21] dustinkerstein opened #704 "VRDevice.model doesn't reflect runtime changes after VR SDK/ device has loaded"
As discussed in #701 - It looks like VRDevice.model doesn't update when the user toggles between headsets using the VR services UX. You need to fully unload/reload the VRDevice itself, or restart the app. I tried waiting multiple frames with `yield return null ` but it still doesn't return the current headset if it was changed at runtime.

[2017-08-28 21:32] fredsa commented on #704
Use case for app being notified of `VRDevice.model` changes:
1. User opens app
2. App starts up in VR mode
3. User changes the configured **VR Settings > Headset**

[2017-08-29 15:18] martinbilello commented on #699
Thanks for reporting this, it is very helpful. We'll work on it, if you have any more tips for reproducing it, please post it here. Thanks!

[2017-08-29 15:18] gilgil28 commented on #597
Any progress? @bopangzz

[2017-08-29 17:17] nathanmartz commented on #662
Closing this as the GVR sdk does not support tablets.

[2017-08-29 17:17] #662 closed

[2017-08-29 23:14] andrelevi commented on #699
Thanks for looking into this! I'm working on a multiplayer game where users need the keyboard to enter in a custom game name and chat with others via text, so having a working keyboard is pretty crucial for me.

Also, it appears that restarting my phone does not always fix the issue. I'm going to try experimenting with loading up the default Daydream app first, and whatever other things I can thin

[2017-08-30 06:13] zhuyifan2013 commented on #665
same here!! This issue is very serious !

[2017-08-30 14:48] cdytoby opened #705 "Unity Android: in VR mode (both Cardboard and Daydream), volume control doesn't control media volume"
Unity Android app, when vr mode is enabled and in stereo view, volume control doesn't control media volume.

Volume control does work in non vr mode.

[2017-08-30 17:27] nathanmartz commented on #705
This is the intended behavior for Daydream but it's a bug in Cardboard. Unity is working on a fix but I don't have a specific ETA right now. What version of Unity are you using?

[2017-08-30 21:56] OllieGamer commented on #453
In regards to the invalid state ( device lost ) I was able workaround a similar issue by swapping the device order in the Unity player settings so that Daydream is listed first then Cardboard.

[2017-08-30 23:15] fredsa commented on #453
@OllieGamer This issue is closed. Would you mind filing a new issue for the crash you're seeing when Cardboard is listed first? Before you do, check to see if #671 is what you're seeing.

[2017-08-31 10:01] cdytoby commented on #705
2017.1.0p3

But how to control audio volume in Daydream?

[2017-08-31 10:55] babeuf commented on #511
The shader trick is nice. thanks for the tip !

Don't be scared if it doesn't work in the editor.
Had to change "Cull Front" to "Cull Back" in the shader to get the video inside.

[2017-08-31 13:46] nathanmartz commented on #705
In daydream the volume should be controlled by the buttons on the daydream controller.

[2017-08-31 14:07] dustinkerstein commented on #700
I'm going to create a new issue to track this asynchronous reprojection wobble specifically in VR mode.

[2017-08-31 14:43] dustinkerstein opened #706 "Document how Asynchronous Reprojection works; Diegetic UI, not camera attached visible objects"
_Creating this new issue from the closed #700 as that went a little off topic._

I've read that the VR eye wobble (see [here ](https://drive.google.com/open?id=0B74otJbBFN-_TjFyQm96R0ZjcWs) for a video) that is caused by Asynchronous Reprojection is in fact by design. While I'm not sure I completely understand that (as to me Asynchronous Reprojection should really only have an effect when dropping

[2017-08-31 15:04] guitarrapc commented on #568
Great tip! BTW, is there any way to check what DeviceProfile currently sat? I mean I do want to set default DeviceProfile only if there are no other device profiler has been sat before my app.

[2017-08-31 15:25] OllieGamer commented on #453
@fredsa Hey Fred, it's Oliver, your familiar with the exact issue I encountered, I wanted to share the workaround of swapping the device list in case it helped others, in my case I got the "invalid state (device lost) " message which was also in the crash log @guneyozsan shared above. I didn't see that message in #671 although the other symptoms were the same. Let me know if you still want a new i

[2017-08-31 15:42] fredsa commented on #453
Hey Oliver, thanks for connecting the dots, and sharing your workaround!

No need to file a new issue, as I believe your issue is what we're tracking in #671: apps closing / crashing when they try to load the "cardboard" VR SDK / device when the phone is set to a non-native (HD+/FHD+) screen resolution. Your workaround of putting "daydream" before "cardboard" in the **Player Settings > Android > V

[2017-08-31 16:13] fredsa commented on #706
Asynchronous Reprojection is behaving as designed. The renderered stereo image is only intended to be viewed from within a VR headset, where Asynchronous Reprojection is designed to improve head tracking and user experience.

In general, you should not attach visible game objects to the VR driven camera (1) or attempt to synchronize visible game object transforms with the camera (2, 3). Headlocked

[2017-08-31 16:15] fredsa commented on #706
Marking this issue as a documentation bug.

[2017-08-31 16:16] dustinkerstein commented on #706
Ok, that's a good explanation, but how would you propose building any type of UI like a HUD / visor?

[2017-08-31 16:19] dustinkerstein commented on #706
I guess it's a matter of "just don't do it"... Reading up on diegetic UX now.

It seems as though while objects attached to the camera may be bad practice in VR, Asynchronous Reprojection entirely precludes your ability to really even try it. Sound about right?

[2017-08-31 16:20] fredsa commented on #421
Likely same issue as described in https://github.com/googlevr/webvr-polyfill/issues/273

[2017-08-31 17:43] otri commented on #568
Yeah, good point. I would open a separate issue.  These properties are important to know and override for streamlining the user experience with a specific piece of hardware.

I can confirm this issue is closed as of GoogleVR 1.70.

[2017-08-31 17:43] #568 closed

[2017-08-31 17:50] fredsa commented on #706
In practice, I would stay away from non-diegetic UI.

More theoretical answer (since you're interested):
To create head locked UI, you would need to somehow render that UI to the screen independently of the world image which is being reprojected. Your app would need to render two image layers and composite them together on the device screen: 1) the world view, which you would reproject, 2) head lo

[2017-08-31 18:18] dustinkerstein commented on #706
Thanks for the theoretical answer. I'll give that a try.

As you already noted by tagging this issue as a "documentation bug" - I definitely agree that it'd be a good idea to inform folks via the documentation that non-diegetic UI + Asynchronous Reprojection are essentially incompatible. I imagine this will come up again :)

[2017-08-31 18:59] fredsa commented on #706
Marked as documentation bug for:
- Document basic description of "how" async reprojection works & a little bit of "why"

https://developers.google.com/vr/distribute/daydream/design-requirements#UX-D2 covers head-locked objects being undesirable.

[2017-08-31 19:02] nathanmartz commented on #706
I'll take a stronger position than Fred and say that camera locked UI is
simply a bad idea in VR. It's uncomfortable and hard to use. If you need a
HUD, it's better to attach it to an object in world or display it on a 3d
visor.

On Aug 31, 2017 11:18 AM, "dustinkerstein" <notifications@github.com> wrote:

[2017-08-31 19:05] dustinkerstein commented on #706
I'd even go further. With Asynchronous Reprojection, anything large like a HUD is going to be a broken wobbly mess :)

[2017-09-01 10:27] hejiang123 opened #707 "How to use code to modify VR camera parameters?"
Hello, because there are special requirements.Now I need to use the code were about to adjust the parameters of the camera to achieve the ideal effect about differences.But now after release to the android device.Use the code can't find the two cameras.What is the right way to modify?

[2017-09-01 13:51] nathanmartz commented on #707
I'm not sure I understand your question. Are you asking how you can add
support for phones that are not officially supported? Or are you asking how
to render in a way that looks correct on both Pixel and S8?

On Sep 1, 2017 3:27 AM, "hejiang123" <notifications@github.com> wrote:

[2017-09-01 15:56] jkeon opened #708 "Application.Quit() not going back to Android Home"
We're having an issue where we tap on the X button in the top left corner of the screen while in VR mode and we expect to quit back to Android home.

We're using Unity 2017.1.0p4 with GVR 1.70. Just like in the Google samples, we're calling the Application.Quit() function when we get the event to close from VR.

Currently, it does close our app but then it goes back to whatever the previously open

[2017-09-02 06:10] hejiang123 commented on #707
My purpose is to set different parameters for around two cameras.To achieve the effect of two eyes see is not the same.But I use on a real machine code GameObject. FindObjectsOfType < Camera > ();It also can find the main camera.But can't find around the eye camera.How I need to get these two cameras Transform to modify the parameters of the camera?

[2017-09-02 16:50] dustinkerstein opened #709 "Black VR screen with Mali GPU and Single Pass Rendering"
_Update - See last comment. This isn't actually related to Single Pass Rendering at all._

Tested in Unity 2017.1.0p5 on a Huawei P10 (Mali G71 GPU).

These errors flood when the "cardboard" device is loaded and VRSettings.enabled is set True:

[code]

When these errors happen the screen is black but in the VR mode. Things work as expected when Multi Pass Rendering is set.

Not sure if this is mor

[2017-09-02 18:04] dustinkerstein commented on #661
FYI - There definitely is an issue with Single Pass Rendering + GVR on Android Mali devices. I just posted a new issue specifically for that - #709

This issue (also cross listed in the GVR iOS SDK repo) is more specifically about the iOS issue.

[2017-09-03 01:03] andrelevi commented on #708
I'm experiencing this issue as well. I believe it used to quit properly back when I was using an older version of Unity/GVR.

[2017-09-03 09:35] radicalappdev opened #710 "GvrReticlePointerImpl and GvrReticlePointerImpl missing from version 1.70"
The scripts GvrReticlePointerImpl and GvrReticlePointerImpl are missing from version 1.70.

There is nothing in the release notes to indicate that these files were replaced or renamed: https://developers.google.com/vr/unity/release-notes

Both scripts are still listed in the documentation.
https://developers.google.com/vr/unity/reference/class/gvr-laser-pointer-impl
https://developers.google.com/v

[2017-09-03 10:36] nantianliao opened #711 "What should I do if I want to do one eye a little slower than the other eye?"
I have a special requirement for the work I do, that is, one eye is rendered slower than the other eye for a few milliseconds or a few frames. I don't know how to do it. If you know, please let me know. Thank you!

[2017-09-03 15:36] pimpannt opened #712 "where is CardboardSDKForUnity package"
According to this exercise
[https://hackernoon.com/how-to-make-a-vr-app-with-zero-experience-927438e2dede](url)

He implemented CardboardSDKForUnity package  from this repository.But, I can't find.What should I do ?

Thank you

[2017-09-03 20:39] reed-alpert opened #713 "GVR reports logcat msg for noisy connection to Controller"
I'm running my Unity Daydream app [Spin Paint](https://play.google.com/store/apps/details?id=com.spinpaint.spinpaint) and sometimes have a non-responsive controller, resulting in jerky movement. The logcat shows messages like this:

Pid 2226 is:

In general the timestamp diff is around 300 - 500 msec.
Logcat file attached, these msgs start at line 3718.
It is not associated with a specific tempera

[2017-09-03 21:03] fredsa commented on #712
The packages are now available on the [releases](https://github.com/googlevr/gvr-unity-sdk/releases) tab.

[2017-09-03 21:03] #712 closed

[2017-09-03 21:40] reed-alpert commented on #708
I see the same thing for Unity Daydream apps on Pixel.XL/7.1.2 and Moto.Force/7.1.1. They both go back to the previous opened app.

Google Museum DAydream app does the correct thing and returns to Android 2D desktop.

Using:

[2017-09-03 22:59] nathanmartz commented on #713
Are you running any other Bluetooth devices at the same time, like
Bluetooth headphones?

On Sun, Sep 3, 2017 at 1:39 PM, reed-alpert <notifications@github.com>
wrote:

[2017-09-03 23:04] nathanmartz commented on #711
This isn't possible given the way Unity's VR rendering currently works.

[2017-09-03 23:04] #711 closed

[2017-09-03 23:05] reed-alpert commented on #713
No Bluetooth headphones. I do have 2 phones (Pixel XL & Moto) for testing my Daydream app, but they are paired to different Controllers. Could the phone be scanning for Bluetooth devices in my apt building and getting congested?

[2017-09-03 23:06] nathanmartz commented on #713
It's possible but unlikely. Maybe there is just a ton of RF noise in your
apartment (lots of wifi from neighbors, etc)?

On Sun, Sep 3, 2017 at 4:05 PM, reed-alpert <notifications@github.com>
wrote:

[2017-09-03 23:08] nathanmartz commented on #707
You want to create two cameras and set the [stereoTargetEye](https://docs.unity3d.com/ScriptReference/Camera-stereoTargetEye.html) to left for one and right for the other.

[2017-09-03 23:08] #707 closed

[2017-09-03 23:42] reed-alpert commented on #713
I am in NYC, and can see 25 wireless devices from where I am. But I see this more with my SpinPaint app and not so often with the StreetView or Art&Museum apps. It does clear after 2 - 5 minutes, so maybe it is just transient background noise. Do you know of an Android app that can measure/track RF noise? Didn't see one in the PlayStore.

[2017-09-04 09:24] ichabodcole commented on #669
FYI, also hitting this issue on 2017.2.0b9 with GVR 1.70, seems to be related to the libaudiopluginbrunity files in Plugins/Android/libs. I was not able to set the x86 lib to x86 in the platform settings do to the error noted below, and even deleting that file still caused the build failure noted above. I eventually just unchecked all of the libraries included platforms for both files and that fix

[2017-09-04 15:38] dsternfeld7 commented on #710
In version 1.70, the functionality of GvrReticlePointerImpl and GvrLaserPointerImpl was merged into GvrReticlePointer and GvrLaserPointer respectively.

We will look into the issue with the documentation.

Thank you!

-Dan

[2017-09-04 15:45] fredsa commented on #669
Looks like Unity 2017.2 beta and GVR SDK are both including the same library.

[2017-09-04 17:47] joejo-unity commented on #669
I believe we ship this library as part of the Unity 2017.2 release. Google should be aware of this and I would hope the SDK would handle checking for this.

+ Micheal who was responsible for getting this into 2017.2 on Unity’s side.

[2017-09-04 19:43] fredsa commented on #669
To workaround this conflict when using GVR SDK 1.70 or earlier with Unity 2017.2 or later:

1. From the **Project** window select
   _GoogleVR/Plugins/Android/libs/**armeabi-v7a**/libaudioplugingvrunity_
1. Uncheck **Android** in the Inspector window and click **Apply**
1. From the **Project** window select
   _GoogleVR/Plugins/Android/libs/**x86**/libaudioplugingvrunity_
1. Uncheck **Android** in

[2017-09-04 19:45] fredsa commented on #669
Removing the 'Unity bug' label as the Unity behavior is intentional. This conflict will be fixed in an upcoming GVR SDK release.

[2017-09-05 15:35] dustinkerstein commented on #709
Closing this as I think I have isolated it to a commit that changed how I was handling setting VRSettings.enabled

[2017-09-05 15:54] dustinkerstein commented on #709
So it wasn't how I was setting VRSettings.enabled, but I am still not quite sure why I'm not longer able to consistently replicate this. Anyway, leaving it closed.

[2017-09-05 16:10] SamtheSpartan commented on #661
@dustinkerstein I've tried to work around including Cardboard as a VR setting but obviously that's way more work than just including the native unity functionality. Seems like it's only happening on iOS still, have you found any fixes for it yet?

[2017-09-05 16:13] dustinkerstein commented on #661
@SamtheSpartan I haven't found any workarounds yet and there doesn't seem to be anyone working on it... I'm currently just planning on shipping with a warning (informing users how to get VR working) during the splash screen on iOS for the time being. Bad UX, but I really don't have any choice at the moment.

[2017-09-05 16:23] SamtheSpartan commented on #661
Daaaaaaaaaaaammit me too then. I assume you have to build it into the splash screen because any in-game canvases will just be composited into the cardboard viewer... thanks for the tip.

[2017-09-05 16:26] dustinkerstein commented on #661
Yah, I'm actually loading iOS with the "None" device first, showing the warning splash text, and then letting users switch into VR mode when they explicitly choose to.

[2017-09-05 16:55] dustinkerstein opened #714 "iOS Cardboard Transition View doesn't respect flag"
It looks like this was documented in #593 but a separate issue was never created.

Tested on Unity 2017.1.0p5 and GVR iOS CocoaPod 1.6

Regardless of the "Enable Transition View" flag, when `VRSettings.LoadDeviceByName ("cardboard") ` is run the Transition View will be shown.

[2017-09-05 21:09] nathanmartz commented on #709
Thanks for the bug report. We've reproduced this internally and will disable support for single pass on these GPUs as well as on cardboard generally (given overall driver maturity for this feature). Unity will automatically fall back to multi-pass rendering once this update is out when run on these devices.

[2017-09-06 10:21] biezhihua commented on #665
same here!! This issue is very serious !

[2017-09-06 13:55] gerardreches opened #715 "D/AndroidNCompat: VR mode is not supported on this N device."
Using a device with android version 7.1.1 shows me this message in the logcat after closing my cardboard GVR app:

[code]

Using `GVR Unity SDK Version: 1.60.0` and Unity 2017.1.1f1

[2017-09-06 13:57] nathanmartz commented on #715
What phone are you using? Not all Android N phones are Daydream/VR ready.

[2017-09-06 13:58] nathanmartz commented on #715
BTW - If you are only building for cardboard and there are no actual errors, these logs are likely harmless.

[2017-09-06 14:02] chelder86 opened #716 "Head tracking - Camera position reset - GvrEditorEmulator incoherences with UnityEngine.VR InputTracking: Unity Game preview differs to compiled app"
**ISSUE 1:**

I have been able to disable partially head tracking with the code:             `VRDevice.DisableAutoVRCameraTracking(Camera.main, true);` (https://docs.unity3d.com/ScriptReference/VR.VRDevice.DisableAutoVRCameraTracking.html). However:

- I have not found how to disable it in the Unity Game preview. I guess the class to do it is GvrEditorEmulator.cs.
- It does not work in the followi

[2017-09-06 14:48] gerardreches commented on #715
@nathanmartz I'm using a One Plus 3T updated to OxygenOS v4.1.7 (Android 7.1.1), but I also have a Samsung Galaxy S7 for testing purposes. The S7 has Android 7.0 and a different log:

[code]

@nathanmartz Yes, I'm only building for cardboard, but there are errors that doesn't appear on each execution, just sometimes. When the error appears, I get this stacktrace at each frame:

[code]

[2017-09-06 15:02] nathanmartz commented on #715
Do you have single pass rendering enabled? If so, disabling it should fix
those errors.

On Sep 6, 2017 7:48 AM, "Gerard Reches" <notifications@github.com> wrote:

[2017-09-06 15:12] gerardreches commented on #715
@nathanmartz It's using **Stereo Rendering Method** with *Multi Pass* option.

[2017-09-06 15:27] Marchelune commented on #703
@dustinkerstein working on same issues here, although not with `Input.gyro` : have you tried `InputTracking.GetLocalRotation(VRNode.Head)` ? (still a bit jittering tho)

[2017-09-06 15:58] dustinkerstein commented on #703
@Marchelune When you use VRNode.head you are in fact using the GVR tracking system, which is only available when a VRDrvice is loaded (other than "None"). Jittering may just be due to your phone's actual sensors. You have a VRDevice loaded, correct?

[2017-09-06 16:39] fredsa commented on #716
`GvrEditorEmulator` is designed to emulate the on-device runtime behavior when running in VR mode. It's not designed to handle If you're trying to run you in non-VR mode, you can disable or remove the `GvrEditorEmulator` script component from the scene.

Switching between VR and non-VR modes requires an expensive state change since the rendering pipeline is different. You might want to consider fa

[2017-09-06 16:39] #716 closed

[2017-09-06 18:21] warrenEBB commented on #674
I have same issue. (FPS displays in editor, but nothing on Android device).

specs:
Windows10
Unity 5.6.3p1 Edu
GVR 1.7
Samsung Galaxy Note4

[2017-09-06 18:27] chelder86 commented on #716
@fredsa thanks for your solutions! A couple of

I need to use `GvrEditorEmulator`. Otherwise I must compile each time I want to try the result because I cannot move the camera without it.

I want to emulate VR. Unfortunately Unity does not seem to be able to emulate VR anymore. If I do: `StartCoroutine(SwitchToVR());`, I got the warning: _VRDevice cardboard not supported in Editor Mode.  Please ru

[2017-09-06 18:42] Marchelune commented on #703
@dustinkerstein yes, with VRSettings.enabled equals false

[2017-09-06 18:51] fredsa commented on #716
Looks okay to me for both ideas:
1. Don't try to load "daydream" or "cardboard" device when running in the editor, so skip starting `SwitchToVR()` coroutine
1. Only enable `GvrEditorEmulator` script component when you want to emulate VR mode in editor

[2017-09-06 18:58] fredsa commented on #674
As an alternative to the FPS text component, consider enabling [Performance HUD](https://developers.google.com/vr/tools/perfhud), which provides a lot more information.

[2017-09-06 20:18] anokta commented on #665
Hi,

We have tracked down the issue and will provide a fix from in the next SDK update. In the meantime, [here is a workaround patch to resolve the issue](https://gist.github.com/anokta/87e0b440138c921664806ba6e9bd3cfd). To apply the patch on Mac:

1. Open your Unity project, and build a new iOS app as usual - which should generate the corresponding Xcode project.
2. Close the Xcode project (if op

[2017-09-06 20:22] fredsa commented on #703
Note, when you're not in VR mode (`VRSettings.enabled=false`), _asynchronous reprojection_ will be disabled.  Because of this, tracking will _feel_ less good, even if you're app is using the same sensor fusion algorithm, sensor sample rate, etc.

This is because asynchronous reprojection is designed to hide the perceivable delay between the time at which the IMU sensor measurements are made and th

[2017-09-06 21:34] warrenEBB commented on #674
Cool. but this is Daydream App only feature? (i'm building Cardboard apps)

[2017-09-06 21:58] pfreema1 commented on #674
Fredsa, thank you for the tip!  That is very useful.  Is there a way to move the HUD from the center of view?

[2017-09-06 23:10] Bonfi96 commented on #680
What's the difference between daydream and cardboard that prevents instapreview to be used with cardboard?

[2017-09-07 00:26] Vathsal opened #717 "Video Controls feedback on Hover"
Hi all,

I was working with the video controls provided in the samples. From a UX research perspective, we found that having some feedback on hover over the play/pause button seems to be more intuitive. I was glancing through the VideoControls prefab and the VideoControlsManager.cs script, but found no option to add that. Could anyone provide some insights on how I could implement this?

I could a

[2017-09-07 02:15] biezhihua opened #718 "Unity5.6.0/iOS/v1.70/iPhone7P FPS always keep 30, UI ghost image(afterimage), UI draw the incoherence"
HI:

I create a new demo project, and import the new latest sdk( 1.70 )  in the iOS platform.

All project settings use the default setting, i don't change anything except the company and Virtual Reality Supported.

<img width="417" alt="wx20170907-100807 2x" src="https://user-images.githubusercontent.com/6761107/30142686-ba354b0c-93b4-11e7-8a96-e43137bc8ccc.png">

There were some serious issue ,

[2017-09-07 06:24] nathanmartz commented on #718
Phones always vsync so if you're not hitting 60fps you'll vsync down to
30fps. That part is expected.

What do you mean by "incoherent" and "residual" UI?

On Wed, Sep 6, 2017 at 7:15 PM, biezhihua <notifications@github.com> wrote:

[2017-09-07 07:06] biezhihua commented on #718
Thank your reply!!

The incoherent mean that slow move the iPhone(Cardboard mode) can clearly feel the UI draw the incoherence.

The residual mean that The slow move the iPhone(Cardboard mode) can clearly see the ghost image (or afterimage).

At first I thought the frame rate was too low to cause these issue.

Looking forward your reply.

@nathanmartz

[2017-09-07 09:45] p12tic commented on #661
This issue turned out to be caused by a bug on Unity side. It has already been fixed internally and will land to releases in 2-4 weeks unless something unexpected happens.

[2017-09-07 09:48] CenekStrichel commented on #661
@p12tic any chance to release it with upcoming patch?

[2017-09-07 10:00] p12tic commented on #661
Can't promise anything :-)

[2017-09-07 10:35] chelder86 opened #719 "GvrPointerPhysicsRaycaster only works if GvrReticlePointer is on the scene"
The easier way to reproduce the issue is disabling the GvrReticlePointer Component of the GameObject with the same name in the GVRDemo scene. The raycast will stop working and the debug ray won't show.

GvrPointerPhysicsRaycaster should work without GvrReticlePointer, am I right?

[2017-09-07 11:56] dustinkerstein commented on #661
Do you happen to know if it's in the 2017 beta release yet?

[2017-09-07 15:41] dsternfeld7 commented on #719
This is intentional. GvrPointerPhysicsRaycaster and GvrPointerGraphicRaycaster shoot a raycast from a pointer (Anything that inherits from GvrBasePointer). If a pointer is disabled, then raycasting is disabled. GvrReticlePointer (cardboard reticle) and GvrControllerPointer (daydream controller) are the two pointer implementations that come with the SDK.

If you desire to have Raycasting enabled wi

[2017-09-07 15:45] dsternfeld7 commented on #717
I would recommend that instead of starting with the video controls included in the SDK, that you use the Media App Template (https://developers.google.com/vr/unity/media-app-template) as your starting point.

The video controls included in the SDK is meant to simply be a basic example of how to play video, but the Media App template is mean to demonstrate best practices for the UX of playing video

[2017-09-07 15:47] #719 closed

[2017-09-07 15:48] #717 closed

[2017-09-07 15:50] nathanmartz commented on #718
From what I can tell, higher framerate will help a bit, but these are all expected on Cardboard (iOS and Android). Cardboard is designed to give reasonable quality, short VR sessions to the widest possible audience. If you want an experience with lower latency, better tracking, no ghosting, etc. then you should look to Daydream.

[2017-09-07 15:50] #718 closed

[2017-09-07 18:23] gstanlo commented on #680
The app was originally focused on Daydream, and unfortunately uses several higher level Android API calls that are not available on devices which support Cardboard but not Daydream i.e. API <24.

[2017-09-07 19:37] jdduke commented on #421
Just wanted to share an update. We've tested a tentative fix against several apps, and the results are promising. The fix would go out as part of a Google VR Services update at the end of the month. We'll post more when the rollout starts to get confirmation of the fix. Thanks for your patience.

[2017-09-08 02:08] zhuyifan2013 commented on #718
@nathanmartz  But I could hot 60 fps using older version , I think using Daydream is not a proper way to solve this problem...

[2017-09-08 03:39] wangxiaogangan opened #720 "multiview feature for unity"
i am a developer from skybox mobile media player team, using unity's daydream sdk

how long does the feature that single pass rendering already in android ndk will publish in unity?
is the multiview realized by unity's render loop?
##
please tell me the approximate time for  multiview feature publish if prossible,  sorry to disturb you

[2017-09-08 03:51] nathanmartz commented on #720
Single pass rendering is already enabled in Unity 5.6 for Daydream. However, due to a number of driver bugs, it is very rarely actually faster and we do not recommend developers enable it unless you are willing to spend time carefully profiling your app on different devices to ensure enabling single pass rendering is actually an optimization for you.

[2017-09-08 03:51] #720 closed

[2017-09-08 05:31] chelder86 commented on #719
@dsternfeld7 thanks for your clarification! :)

[2017-09-08 17:35] Ethan-VisualVocal commented on #714
@dustinkerstein We've been holding off on a release because of this, and thankfully (hopefully) this was fixed in 2017.1.1p1 (https://unity3d.com/unity/qa/patch-releases)

Which has a bug number that, confusingly, doesn't align with the other reported bug here: https://issuetracker.unity3d.com/issues/ios-cardboard-splash-screen-appears-even-if-enable-transition-view-is-set-to-false

No idea whose

[2017-09-08 17:57] dustinkerstein commented on #709
Ok cool. I just re-tested again and it doesn't seem related to AA. Not sure what was going on in my Unity project. I'll go ahead and rename this issue back to its original since you say it was indeed a bug with single pass rendering.

[2017-09-08 19:08] dustinkerstein commented on #714
Just gave it a quick test and it does indeed appear to be fixed in 2017.1.1p1

[2017-09-08 19:08] #714 closed

[2017-09-10 19:01] AlexanderStohr commented on #421
Samsung Galaxy S7 (SM-G930F): able to confirm the problems with too wide eye-views (clipped on the short edges) on many applications from Google Play Store. Android system version is 7.0.

now eagerly hoping for the possible global fix from jdduke right above!

[2017-09-11 11:55] maskedmous commented on #709
It happens in our project as well. We made a workaround for the OpenGL error by first waiting until the screen orientation is in landscape mode and then activate VR. Having the screen in portrait orientation and setting the orientation to landscape left then activate VR in a line after setting the orientation will result in the Open GL error.
I've already made a small project that reproduces the i

[2017-09-11 21:56] OmegaMule commented on #671
Hi, is there any progress? We are having the same issue, instant crash on S8/S8+ when using non-native resolution. It would be really wonderful to get a fix asap.

Or is there a way to force user or Android to always switch to native resolution before staring an app?
Thx.

[2017-09-11 23:45] sigmaxipi commented on #671
One possible workaround is to add `android:configChanges="density"` to your Activity's manifest entry. I haven't tried this on Unity, but it works for a similar Android issue on the S8.

[2017-09-12 18:02] xiaotaoduan commented on #699
Hi Andre,
Thanks for reporting this issue! It will be fixed in next Daydream keyboard release.

[2017-09-12 18:10] andrelevi commented on #699
Thank you! I'm so glad to hear this. I was seeing this issue on both my Galaxy S8 and Pixel, and was (reluctantly) considering implementing my own in-game keyboard. Great news!

[2017-09-12 18:24] chidl003 opened #721 "Does gvr use the magnetometer (compass) to correct drift?"
We have been using gvr1.0 GvrViewer.Instance.HeadPose.Orientation to get the orientation of mobile devices but are experiencing drift in the heading (yaw).  We were experimenting with adding our own compass correction on top of gvr but were wondering if you already do this and if not why?Does gvr1.7 improve this drift significantly over 1.0?

[2017-09-12 19:17] nathanmartz commented on #721
We are steadily improving our drift correction algorithms, both by improving the quality of the filters and adding new sensors (like magnetometer). In the case of the mag, this is only supported for Daydream ready devices, as there's quite a bit of variance between different versions of a given kind of sensor, and it's easy to wind up adding noise that makes your drift worse.

[2017-09-12 19:17] #721 closed

[2017-09-13 06:56] clarkehe opened #722 "Performance Improved a lot."
I compared the cardboard VR performance using two unity versions: Unity 5.5.3.f1(Gvr 1.4) and Unity 5.6.0f.3(Gvr 1.4).

Cardboard is native integrated in Unity 5.6.0f3. I found the performance improved a lot in Unity 5.6.0f.3 compared to unity 5.5.3.f1.  I tested on an Android phone using a unity scene. The cardboard app complied with Unity 5.6.0.f3 use less GPU.

I want to know what measures have

[2017-09-13 10:46] MRxRadex commented on #709
@maskedmous can you share your thoughts, or maybe code, about workaround for fixing this issue?
Thanks you.

[2017-09-13 11:03] maskedmous commented on #709
Basically what you need is a script that extends UIBehaviour, attach it to an overlay canvas and override OnDimensionsChanged method. When you want to activate VR first set landscape left, wait till OnDimensionsChanged is called and then activate VR.

(We did this by using a static UnityEvent, when OnDimensionsChanged is called we invoke this event which a method is subscribed to activate VR)

[2017-09-13 15:34] OrtOfOn opened #723 "Extending com.google.unity.UnityPlayerActivity for Android Plugin"
Hi,

Is there a way to extend this Android Activity?
Can we have access to the classes.jar of the GoogleVR SDK?

I would like to develop a android plugin that extends Extending com.google.unity.UnityPlayerActivity because my plugin has to be the main activity.

Thank you for your response.

Q.

[2017-09-13 15:39] nathanmartz commented on #723
You should use unity 5.6 or later, which has a native integration and
removes the need for a Google unity activity entirely.

On Sep 13, 2017 8:35 AM, "Quentin Lengele" <notifications@github.com> wrote:

[2017-09-13 15:39] #723 closed

[2017-09-13 15:44] OrtOfOn commented on #723
Same with 2017.1 ?

[2017-09-13 15:48] nathanmartz commented on #723
Yes. 2017.1 is later than 5.6.

On Sep 13, 2017 8:44 AM, "Quentin Lengele" <notifications@github.com> wrote:

[2017-09-13 15:53] OrtOfOn commented on #723
Thank you for your quick feedback.

[2017-09-13 16:48] MRxRadex commented on #709
@maskedmous Thank you very much for your answer!

[2017-09-13 17:20] alex-nac commented on #661
I have the same problem :(

[2017-09-13 18:23] fredsa commented on #671
Using a test apk, built using Unity 2017.1.0p4, it appears that it's not quite enough to use `android:configChanges="density|…"` in the app's activity.

Although this does prevent the app from immediately closing when it's launched at a less than full screen resolution, the result is that the stereo output is rendered at the wrong scale.

![hd-plus](https://user-images.githubusercontent.com/123536

[2017-09-13 18:28] nathanmartz commented on #722
You'd have to make sure that the 5.5 and 5.6 versions are both rendering to the same sized framebuffer. If they aren't that could account for the difference. If they are, you're probably seeing general optimizations unity makes that we are better able to leverage using the native integration.

I would not expect any performance changes specific to Google VR going from 5.6 to 2017, but of course va

[2017-09-13 18:28] #722 closed

[2017-09-13 19:41] dustinkerstein commented on #708
I can also replicate this on Unity 2017.1.1p1 and GVR 1.7 using Application.Quit() when invoking my app via a deep link from Chrome.

And when launching inside of the Daydream app (in VR mode) calling Application.Quit() will return back to the Daydream app in VR mode, and then automatically quit to the 2D Android home in about 3 seconds - This particular behavior was noted here - https://forum.uni

[2017-09-13 19:52] dustinkerstein commented on #703
FWIW, I'm going through the Daydream approval process right now and my app was initially rejected because I was allowing users Daydream View users to toggle into Magic Window mode. This apparently isn't allowed. So now, for users that have VRDevice.model == "Google, Inc. - Daydream View" I am disallowing the VR toggle and also instructing them, if they'd like to use Magic Window, to first switch t

[2017-09-13 20:02] fredsa commented on #703
@dustinkerstein Is the feedback you received around the requirement is that the "app never goes to 2D unexpectedly" ([UX-D9](https://developers.google.com/vr/distribute/daydream/design-requirements#UX-D9))? If so, have you made sure that `"Daydream"` is listed first (before `"None"`), so that when you app is launched from Daydream home, the phone stays in VR mode the entire time?

Building hybrid

[2017-09-13 20:18] dustinkerstein commented on #703
@fredsa, yeah it's that requirement that they cited, and I do have Daydream listed first, then None, and finally Cardboard.

UX-wise, I had a "Toggle VR" button that was visible to all users (Daydream view and others) which allowed switching back and forth. It was a relatively seamless transition, but it wasn't for accepting permissions, logging in, or any of the listed D9 use cases. I was just to

[2017-09-13 20:44] fredsa commented on #703
Sounds like two part problem:
1. Your button was a 2D on top of a stereo VR daydream view, which is problem for users in stereo
2. The 'shake to switch' means that some users will unexpectedly transition to 2D.

Suggest you remove the 2D button in the stereo view. It's okay to have a 'switch to VR' mode button in the 2D view, but you don't want a 2D button to be visible over the stereo image.

You

[2017-09-13 21:06] dustinkerstein commented on #703
The VR Toggle was in fact a diegetic button within the VR world. Sorry if that wasn't clear. Here's a screenshot of the VR UI:

![screenshot_20170913-170136](https://user-images.githubusercontent.com/7659306/30400590-5acb8d7a-98a5-11e7-8724-e17664eff897.png)

I do understand how the shake could have been an issue, but you would have to 1 - shake very hard with the headset on which is unlikely sinc

[2017-09-14 12:43] clarkehe commented on #722
@nathanmartz  Got it. Thank you.  I debug the rendering progress using Snapdragon Profiler and found the difference. The main difference is post process in StereoRenderEffect.cs was removed. Left and Right eye RenderTexture are used to create distorted texture directly. In Unity 5.6 post process(OnRenderImage) was changed. A full screen texture will be created and rendered twice.

[2017-09-14 15:46] fredsa commented on #671
We're looking into a couple of potential routes to fix this issue:
1. An update to the Unity Android Player and the build process, to handle the density change event.
1. An update to Google VR Services, to avoid the density change in the first place.

[2017-09-14 16:13] dustinkerstein commented on #703
@fredsa, I just wanted to follow up on this specific question from above:

Since the VR device load order is fixed at build time, it doesn't seem like it would be possible to build a hybrid Daydream app with Unity. In order to successfully build a truly hybrid Daydream app, I'd need to be able to know where the application was launched from (Daydream Home, Chrome, Android Launcher etc.) and whethe

[2017-09-14 16:31] fredsa commented on #703
Hybrid apps are certainly possible.

See [GvrIntent.IsLaunchedFromVr()](https://developers.google.com/vr/unity/reference/class/gvr-intent).

[2017-09-14 16:36] dustinkerstein commented on #703
Awesome! I will give that a shot. Thanks.

[2017-09-14 16:53] dustinkerstein commented on #703
@fredsa That definitely helps, but I still run into that other issue where the Daydream View interstitial is shown when I load the "daydream" or "cardboard" device with VRSettings.enabled = false. So it seems like it's possible to create that hybrid Daydream UX in Unity, but only if you're not using Magic Window mode.

[2017-09-14 17:16] fredsa commented on #703
Note that that behavior of the app will be different based on:
* Daydream ready phone vs. non-Daydream (Cardboard only) phone.
* What headset viewer (Daydream vs. Cardboard) the phone is configured for in VR Settings (which you access from the top right gear icon in VR mode), or from the Daydream app's settings.
* Which VR devices you've added, and in what order.
   Unity tries to load the first s

[2017-09-14 17:21] dustinkerstein commented on #703
Yeah, I'm specifically trying to address users who have Daydream phones paired with Daydream View headsets. I'd like for those users to be able to launch the app in 2D Magic Window mode when they either don't have their headsets/controllers nearby, or just would prefer to use the app in 2D mode. The hybrid UX with Magic Window support isn't currently possible for these particular (and important) u

[2017-09-14 18:01] OmegaMule commented on #671
1. That would require new Unity (patch) release and re-import of ALL projects for every developer. Also from my experience with Unity, it might work in one release and stops working in another...

2. All Cardboard apps on GPlay would work again. All we would need to do for newer apps is show a window that user needs the latest GVR service.

For me personally that is no brainer.

[2017-09-14 19:38] dustinkerstein commented on #703
What I'm looking to do just isn't possible if I want to utilize the GVR head tracking in the Magic Window mode. My choices are:

1. Don't use the GVR head tracking for the 2D mode and implement my own gyro/accel tracking solution. This would allow me to create a true hybrid app that starts in 2D and can transition into VR for all headsets (including the Daydream View). However, the big downside is

[2017-09-14 21:53] dustinkerstein opened #724 ""daydream" VR device doesn't load on Android Oreo 8.0.0"
This is likely more of a Unity issue (I just filed [here](https://fogbugz.unity3d.com/default.asp?951062_82a7h28n6i2ilnh1)) but I figure it would be idea to get folks aware here given that it could be a higher priority issue since Google recently rolled out Oreo OTA to all Pixel phones.

It appears that the "daydream" VR device fails to load on Android O (tested so far on Nexus 6P). This prevents

[2017-09-14 22:30] nathanmartz commented on #724
This is actually expected. The 6P is not, technically, a Daydream ready device. It had to be flagged that way during pre-release development (it was our devkit), but it's no longer flagged as Daydream Ready in O.

[2017-09-14 22:30] #724 closed

[2017-09-14 22:58] delphinius81 opened #725 "iOS Cardboard freeze after viewer profile set"
Issue:
I'm experiencing an application hang using Unity 2017.1.1p1 when targeting iOS with cardboard. Attempted this on an iPhone 6 running the iOS version 10.3.3. After scanning the QR code for my viewer and tapping ok, when focus returns to my application, the application hangs. There is no obvious error output in Unity/XCode. The crash log indicates that the application has crashed somewhere in

[2017-09-14 23:06] dustinkerstein commented on #724
Ah ok. Sorry for the false alarm. I guess my friend with the Pixel was mistaken.

[2017-09-15 00:32] tedruxpin commented on #725
Hello delphinius81,

I've reported your issue to our development team and we will try to get you an answer as soon as possible.  In the meantime, are you able to create a development build that might provide a more detailed crashlog?  And are you using an unusual viewer, or are you able to include a photo of the QR code?  Thank you!

[2017-09-15 00:52] delphinius81 commented on #725
I've had it happen with a variety of QR codes. One of them is found at: http://www.sitesinvr.com/viewer/boboz4/index.html
Also with the QR code generated by the viewer profile generator using: http://google.com/cardboard/cfg?p=CghGZWFybGVzcxILRmVhcmxlc3MgWjQdl9snPSWPjYA9KhDsAz1C7AM9QuwDPULsAz1CWAE1KVwPPToIj8J1PZqZmb5QAGAD

As for a build with more details, I'm already building the Unity side as a

[2017-09-15 05:23] amitchai commented on #661
Same issue here. Black screen with stripes on iOS only. With GVR and without. Unity 2017.1.1f1

[2017-09-15 06:20] Jadiker opened #726 "Cannot get viewpoint to change"
When I run my app in Unity with GVRControllerMain and GVREditorEmulator, everything seems to work great. My camera follows the player, and I can move around the world.

As soon as I upload it onto my iPhone, the main camera no longer follows the player, as if some script continuously is resetting the camera's position. (See [this post](https://stackoverflow.com/questions/46229059/getting-movement-

[2017-09-15 13:32] Marchelune commented on #664
@reed-alpert I know how the VR icon works, my problem is more about the format : Clients send us the two layers in a 512x512 format, as specified in the doc, yet what is displayed in the tiles in the image above is *not* the whole 512x512 file (seems more like 256x512, see the HBO icon for instance). If you provide Unity with a 512x512, it will appear cut in half here.

[2017-09-15 14:58] reed-alpert commented on #664
@Marchelune, yes, I found the same thing to be true, I had to adjust the icons fg/bg so it looked good in Daydream app. There are some Photoshop stencils on the Daydream Requirements site that might help show what the boundaries are. But I haven't see the full 512x512 in another place in Daydream.

[2017-09-15 17:05] fredsa commented on #664
[PB-P2](https://developers.google.com/vr/distribute/daydream/publishing-requirements#PB-P2) indeed has a link to a set of Photoshop files, which you can also open in GIMP. These files contain stencils which indicate precisely which portion of the full 512x512 image are used. The unused areas are not used anywhere else.

[2017-09-15 17:12] #664 closed

[2017-09-15 20:05] guneyozsan opened #727 "Display cropped on S7 if not WQHD resolution GVR 1.60 Unity 2017.1.0f3"
On S7 the display is cropped if resolution is not WQHD (sample image attached). This was working fine but after some update by Android OS, Unity or GVR, I don't know which one, it started displaying cropped after some point. View is fine with WQHD.
I'm on 2017.1.0f3 and GVR 1.60

![screenshot_20170915-225223](https://user-images.githubusercontent.com/19275187/30500927-2579bc26-9a69-11e7-997d-8477a

[2017-09-15 20:11] guneyozsan commented on #671
We get the same reports from users with S8+. If it is WQHD it works fine, if not it crashes.

[2017-09-15 20:20] fredsa commented on #727
Duplicate of #421

[2017-09-15 20:20] #727 closed

[2017-09-15 21:55] tomgoogle commented on #674
I'm afraid there isn't a way to move it. We render it without lens distortion (for archaic platform reasons) so placing it in the center of the screen means it's challenging to move it around. We do render it slightly lower than center so you can look down a little and still see your scene though!

[2017-09-15 23:56] nathanmartz commented on #726
You just need to make the node that follows the player a parent of the camera, not the same game object as the camera.

[2017-09-15 23:56] #726 closed

[2017-09-16 12:47] JapaMala commented on #674
It's likely that Unity's immediate-mode UI is no longer supported in VR, and the new UI system will need to be used instead.

This will mean making use the the Text component that's currently required by the script, unused, and place the prefab as a child of a screen-space canvas.

[2017-09-16 13:23] IndraYudha opened #728 "VR mode is not supported on Asus Zenfone 2 ZE551ML"
VR mod is not supported on Asus Zenfone 2 ZE551ML, Using GVR Unity SDK Version: 1.70.0,
How to Fix ?

Help me. Thanks

[2017-09-16 16:51] Arvin6 commented on #725
I have this problem too. Would love to find a way to handle this.

[2017-09-16 17:05] Arvin6 opened #729 "GVR changing camera projection and has collision with ARkit on unity"
GVR seems to change the projection matrix of the camera when enabling VR mode and doesn't work well with ARkit plugin for unity. This happens because ARkit changes the projection matrix of the camera to map the virtual object onto the camera feed, this seems to collide with GVR. Is there any way to disable that? I've looked into the source code but couldn't find which part is responsible for chang

[2017-09-17 05:19] clarkehe opened #730 "Two Questions about Sdk"
Q1: Why StereoRenderEffect.cs is needed in gvr unity sdk 1.4?
The code comment say "  Some image effects clobber the whole screen.  Add a final image effect to the chain which restores side-by-side stereo." ?  I am a little confused.   Besides, I profile an Android cardboard app complied using unty 5.6.0f3, and found the post effect is removed.   Can I remove StereoRenderEffect in Unity 5.5.3f1(Gv

[2017-09-17 05:36] nathanmartz commented on #728
The Zenphone 2 is not a [Daydream Ready phone](https://vr.google.com/daydream/smartphonevr/phones/), so it can only run app sin cardboard mode.

[2017-09-17 05:36] #728 closed

[2017-09-17 05:38] nathanmartz commented on #729
That's correct. The GVR plugin does this work at the native level and cannot be overridden. We have no plans to support GVR with ARKit, so closing this issue.

[2017-09-17 05:38] #729 closed

[2017-09-17 05:39] nathanmartz commented on #730
I'm sorry, but we can only give support for the latest version of the SDK, which is 1.70. Please give that a try and re-open this post if you still have issues.

[2017-09-17 05:39] #730 closed

[2017-09-17 05:41] nathanmartz commented on #703
@dustinkerstein, I think you are coming to realize why we encouraged you not to use GVR for magic window mode. Although, yes, DIY magic window code is not as good as the GVR tracking, I think you'll find it more than sufficient for magic window (which is much more forgiving) and you'll save yourself time and your users from bad UX if you go with #1.

[2017-09-17 14:10] dustinkerstein commented on #703
@nathanmartz Yeah, I'm just hoping that I, and maybe others, would be able make the case for the importance of well functioning hybrid VR / Magic Window UX that was able to fully utilize the remarkably good GVR tracking. There's just such a large gap between the performance and cross-device reliability between GVR tracking and DIY tracking that it's not even a question in my mind.

Side note - I'd

[2017-09-18 09:54] aAAC commented on #705
I'm using
Unity2017.2.0b11
GVR Unity v1.70.0

As soon app enters in VR mode it crashes on Samsung Note 8 and stucks on S8, can't load VR veiw

Any help will be much appreciated!

[2017-09-18 11:16] vinhui commented on #705
@aAAC please create your own issue, and a logcat might be useful

[2017-09-18 17:47] delphinius81 commented on #725
Trying to set the default profile also results in a hang for me, so that's not an option. (I made the __Internal dll name change for iOS to enable the SetViewerProfile function call.) The only way my app will run is if it uses the default carboard profile and it's never changed.

In fact, further testing today revealed that I can't get the app to launch into VR mode on a second run through even wh

[2017-09-18 17:50] nathanmartz commented on #725
@delphinius81, pairing a viewer requires talking to a web service to get the configuration data. Does your test device not have internet access?

[2017-09-18 18:02] delphinius81 commented on #725
The device has internet access (pairing the viewer works fine using the Cardboard app). I have allow http download enabled through Unity settings for my app.

But I will experience a hang on a second attempt to run my application. This is very possibly a second issue that I've discovered with 2017.1.1p1 (which uses the 1.80 NDK).

I do not call SetViewerProfile in code. I do not tap the settings i

[2017-09-18 18:45] dustinkerstein commented on #706
I was just playing around with the new GVR 1.7 Performance HUD and noticed that it is headlocked but doesn't conflict with the Asynchronous Reprojection (ie. it's 100% stable). Would it not just be a better solution to have the workaround you proposed above, or something effectively similar, actually just be implemented "behind the scenes" in Unity's native integration for all objects that are int

[2017-09-18 20:24] behisoft commented on #715
@gerardreches were you able to fix the error? I'm having the same problem with GVR 1.7 in Unity 2017.1.1.

[2017-09-18 22:01] aAAC commented on #705
Alright, thanks @vinhui  for the suggestion

[2017-09-18 22:06] aAAC opened #731 "App crash on loading VR view on latest devices (Samsung Note 8, Samsung 8, 8+) with Android 7.0, 7.1, 7.1.1"
I'm using
Unity2017.2.0b11
GVR Unity v1.70.0

As soon app enters in VR mode it crashes on Samsung Note 8 and stucks on S8, can't load VR veiw

We've tried to switch back to Unity 5.6.3 + GVR 0.8, It fixes the issue but video start playing in upside down and also app doesn't goto landscape, always stucks to portrait mode only.

Have added this line to change the orientation but it has started crash

[2017-09-18 23:02] GavinThornton commented on #671
Same on the Samsung Galaxy Note 8, I'm starting in "none" standard mode and loading Cardboard later, at that point crashes out if the device is in FHD+ 2200x1080 mode, change the device to WQHD 2960x1440 and is fine.

Log:
[code]

[2017-09-19 11:21] gerardreches commented on #661
@p12tic Is there a release date for the fix? We are waiting for it.

It's working correctly for me using an iPhone 6S, but not using an iPhone 5 (both of them iOS 10.3.3). For the iPhone 5 we need to use @CenekStrichel trick in order to see the scene.

[2017-09-19 12:05] amitchai commented on #661
I'm actually using iPad2... so old. but that's what I've got, and it was working till now.

[2017-09-19 13:01] Flameshot commented on #491
Any solution for this? I have Unity 2017 with last unity gvr sdk 1.70. I export the project in android studio and then build with it. But when the app starts on device I have this error "Null GVR context pointer, could not get GVR user prefs' handedness"

[2017-09-19 17:24] tedruxpin commented on #731
Hello aAAC, can you attach a crash log?  Thank you!

[2017-09-19 17:53] guneyozsan commented on #731
You can also check this topic to see if WQHD fixes the crash:
https://github.com/googlevr/gvr-unity-sdk/issues/671

[2017-09-19 20:05] delphinius81 commented on #725
The second run bug appears to go back several versions of 5.6 as well (5.6.1p4, 5.6.3p2, 5.6.3p3) and 2017.1.0p5. I went back to try versions with different gvr ndk versions.

Created a simple scene - just a camera and cube. No scripts added. No packages imported. Cardboard set as target vr device.

Both mentioned issues appear:
1) Hang when attempting to change QR code.
2) App hangs on launch (ne

[2017-09-19 20:26] aAAC commented on #731
@tedruxpin please find the attached crash log
[logs.txt](https://github.com/googlevr/gvr-unity-sdk/files/1315717/logs.txt)

@guneyozsan , But I've to upload for general public, how everyone will be switching to WQHD?

[2017-09-20 01:31] fredsa commented on #491
@Flameshot  I wonder if your final apk is incomplete, since you said you're exporting the Android Unity project to Android Studio and then building the app from there. Have you tried using Unity to **build and run** the app directly from the Unity editor?

Just a few more questions to try to narrow this down:

1. What's the exact version of Unity 2017 you're using?
1. What model phone are your see

[2017-09-20 06:55] Flameshot commented on #491
@fredsa Hello and thanks for answering.
I'm using Unity 2017.1.0f3. I'm using a Samsung Galaxy S4 with Android 5.0.1 as a device and a Cardboard.
I want to mention that if I build and run on device the "VideoDemo" scene it works. The thing is I am using some custom things and I need first to export in android studio. Before having the "Null GVR context pointer" error I have this error when it trie

[2017-09-20 15:27] fredsa commented on #491
First thing I'd suggest is to get a working apk by building directly from Unity. You can then use this apk and compare it to the one you're getting out of your Android Studio build.

A quick thing to check are the contents of the apk, especially libraries, which you can see by treating the apk as a zip:
[code]

You can compare manifests entries of the working and non-working app using `aapt` from

[2017-09-20 17:45] Flameshot commented on #491
@fredsa  I forgot to mention that I am using Google Cardboard not Daydream

[2017-09-20 18:45] fredsa commented on #491
Player Handedness is only relevant for Daydream.

Can you tell me which Gvr* prefabs or scripts you're using in your scene?

[2017-09-21 11:35] guneyozsan commented on #731
@aAAC yes that's another problem. I noted the issue to help you see if it is the same problem or not.

[2017-09-21 13:37] dustinkerstein commented on #671
Just wanted to check up on this issue as I'm getting more and more reports from users of this crash. Does this seem more like a GVR or Unity issue? If it's more on the Unity side, has anyone filed a Unity bug?

This is likely affecting the majority of S8 / S8+ / Note 8 users as those devices ship from the factory at FHD.

I'm going to push out an update that warns these users, but if anyone has a

[2017-09-21 15:21] OmegaMule commented on #671
It is becoming to be a really pressing issue, especially for developers who have their apps already on Google Play. Bad reviews could bury their apps, nobody cares it's not their fault. I just hope they will be able to fix it via GVR Services update which should be released at the end of this month. If not, then I'll have to do some ugly workarounds.

[2017-09-21 16:41] fredsa commented on #671
We're actively working on a fix for this issue.

In the mean time the best available workaround is to have users change their device's default resolution to WQHD+:

_Settings > Display > Screen resolution > **WQHD+** > APPLY_

[2017-09-21 16:58] dustinkerstein commented on #671
Thank for the update @fredsa

Do you happen to know if it's going to be a fix to VR services or Unity? Any ETA?

Asking users to switch resolutions isn't really practical as I have no way to reach out to them, and in my case the application crashes immediately at launch so I can't warn them at all.

[2017-09-21 17:24] diegorborges commented on #476
Hi, have you found any solution for this? I've been having the same problem. :(

[2017-09-21 17:36] GavinThornton commented on #671
Is there an ETA of less than a few days or will it be longer?

Just want to know if it is worth working on a "detect and ask S8/S8+/Note8 users" system, or if this fix will come soon.

[2017-09-21 18:42] dustinkerstein commented on #671
Just a quick note - I believe this bug will result in all Daydream Unity apps crashing on startup when set to FHD (the default resolution), at least on the Unity / VR services versions where this bug exists. Please let me know if I can help at all. I'm happy to test any potential fixes or workarounds as this is a bit of a showstopper for me at the moment.

[2017-09-21 21:01] fredsa commented on #731
If the "crash" (actually, unexpected app close immediately after launch) does not happen when the device is set to WQHD+ resolution (_Settings > Display > Screen resolution > **WQHD+** > APPLY_), then this is a duplicate of #671.

Marking this issue as a duplicate. However, if the issue does not go away with WQHD+ resolution, please feel free to reopen.

[2017-09-21 21:01] #731 closed

[2017-09-21 21:07] fredsa commented on #671
@GavinThornton It will very likely take longer than a few days.

[2017-09-21 21:22] fredsa commented on #565
I believe the problems described in this issues have all been fixed in recent updates.

At this point I would recommend using the most recent release build of Unity 5.6 (or 2017), which will have the latest version of the Google VR native integration.

To switch between VR and non-VR mode, see https://github.com/googlevr/gvr-unity-sdk/wiki/Switching-between-VR-and-non-VR-at-runtime.

[2017-09-21 21:27] fredsa commented on #565
Closing this issue for now. Please reopen if you're still having problems. In that case it would be helpful to know:
- Specific Unity version
- Google VR SDK version
- Phone manufacturer / model
- Android version (**Settings > About phone > …**)
- And, ideally, version of Google VR Services (**Settings > Apps > ⋮ > Show system > Google VR Services**)
- Log output (`adb logcat`)

[2017-09-21 21:27] #565 closed

[2017-09-21 21:28] fredsa commented on #671
@dustinkerstein This bug covers **Cardboard** apps. If you're seeing issues with **Daydream**-only or Daydream/non-VR hybrid apps on S8, it would be great if you could file a separate issues with repro steps there.

[2017-09-21 22:26] aAAC commented on #731
@fredsa
I'll uploading this build for general public so I'll convey to everyone to goto settings and change their  resolutions?

Also I've tried with all three available resolutions in Screen Resolutions but it was still crashing on Note 8.

I've downgraded my project to Unity 5.6.3 and gvr 0.7 and its working now :)

[2017-09-22 00:19] fredsa commented on #731
@aAAC If using WQHD+ resolution (_Settings > Display > Screen resolution > **WQHD+** > APPLY_) does not fix the issue for you with the that latest Unity and Google VR SDK, then please file a new issue and include a crash logs (`adb logcat`).

[2017-09-22 06:14] SaraKaterji opened #732 "HUD distortions"
Hello ,
I am having problems with setting up UI unity using gvr 1.7
I did all what available tutorials suggested which is:  world space canvas then put it as child of camera
but the hud disappears completely on mobile device. After a few line of codes , i got the ui to appear but it seems distorted  as in not in the right position

[2017-09-22 07:42] sujay46 commented on #689
Any update on this issue?

[2017-09-22 07:54] sujay46 commented on #689
I am facing the same issue. I traced this issue to the shader(Google VR/Video Unlit Shader). This is working in OpenGLES 3.1 devices. But breaking in OpenGLES3.0 devices.

[2017-09-23 13:13] dustinkerstein commented on #671
@fredsa I was able to directly test a Galaxy S8 via http://developer.samsung.com/remotetestlab/rtlDeviceList.action and understand the behavior a bit more now. The crash won't happen for most Daydream apps as it appears to only happen when VR mode is toggled (VRSettings.enabled = false <-> true) but it will immediately crash under the exact same conditions as this #671 bug. The only difference is

[2017-09-23 15:14] GVSCHOWDARY opened #733 "apk is not building up for vr"
in windows 7 android apk is not building up when the vr is selected and showing library files not found but i have all the libraries that i need.Any solution for it , please raise your answer here. @hapticdata @dubois @dav-cz @HalfdanJ @borismus

[2017-09-23 18:00] fredsa commented on #671
Thanks @dustinkerstein. Since the root cause appears to be the same, let's track that in this issue. I've updated the issue title to reflect this.

[2017-09-24 06:25] parkitny commented on #421
Any further progress on a proper bug fix for this issue?

[2017-09-24 22:29] Zoriak22 commented on #661
The issue still exists, the latest Unity beta still not solved it. I can't publish my game on App Store because of this bug.

[2017-09-25 14:23] dustinkerstein commented on #661
And is also still reproducible on Unity 2017.1.1p3 - This is a breaking bug for me as well. Any update would be appreciated.

[2017-09-25 15:56] DmytroHreshchik opened #734 "Code conflicts"
It would be amazing, if you could put all of your code into own namespace. Because of code in "GoogleVR/Demos/Scripts" doesn't have own namespace, it creates conflicts with my classes.

[2017-09-25 16:25] dustinkerstein commented on #671
Until this Galaxy S8 / S8+ / Note 8 showstopper is fixed, I'm going to warn these users with this condition: `if (SystemInfo.deviceModel.Contains("G950") || SystemInfo.deviceModel.Contains("G955") || SystemInfo.deviceModel.Contains("N950"))` but I really would only like to warn users that are set to a resolution other than WQHD+. Has anyone figured out a way in Unity to detect when the device isn'

[2017-09-25 16:39] guneyozsan commented on #671
@dustinkerstein You should be able to get the current resolution by using a full screen canvas and reading canvas width and height in screen space. Screen class is useless as it always returns native resolution for some reason. If canvas doesn't work let me know and I'll dig into my projects to find how I solved it before.

[2017-09-25 16:40] dustinkerstein commented on #671
Thanks @guneyozsan I will give that a shot.

Also, it's interesting to note that this crash does not happen on the Galaxy S7 / S7 Edge when set to HD, FHD (default in Nougat), or WQHD. The crash is specific to the taller screen (2960 pixels vs. 2560 pixels) of the S8 / Note 8 line of phones.

[2017-09-25 16:52] guneyozsan commented on #734
I also had some issues with ObjectPool class name conflicting with some other plugins.

[2017-09-25 17:04] dustinkerstein commented on #671
@guneyozsan I tried both `GalaxyWorkaround.transform.localPosition` and `GalaxyWorkaround.pixelRect.width` where GalaxyWorkaround is a Pixel Perfect Screen Space Overlay Canvas and I get the same results for all of the resolutions.

[2017-09-25 17:20] guneyozsan commented on #671
@dustinkerstein I checked and this is how I get the current resolution:
[code]

[2017-09-25 18:00] dustinkerstein commented on #671
@guneyozsan I wasn't able to get that working as it seems to always return the reference size, not the current scaled size. Would you be able to send over a screenshot of your Canvas and CanvasScaler properties?

[2017-09-25 18:25] guneyozsan commented on #671
@dustinkerstein Ops, you are right. Sorry, it has been a year I did this and the inconsistent results mislead me. Actually Canvas.pixelRect.width/height should also be the solution. Since both Screen class and Canvas.pixelRect.width/height gives native resolution I suspect that Unity always runs in native WQHD and the device downscales the display from WQHD to FHD.

[2017-09-25 18:29] dustinkerstein commented on #671
@guneyozsan Yeah, which in turn means that I won't be able to detect this condition and am forced to warn all S8 / S8+ / Note 8 users regardless of their selected resolution :(

[2017-09-26 10:01] sandorvasas commented on #689
@sujay46 Could you find out any more detail about what could be wrong in the shader code? How did you trace the problem? Do you have any error outputs? I'd also like to take a look into it.

[2017-09-26 10:05] sujay46 commented on #689
@sandorvasas I used ADB logcat, and I found out it was printing out shader code in logcat. This happens when the device doesn't support the shader.

[2017-09-26 14:52] nathanmartz commented on #689
Can you paste the shader code that appears in logcat here?

[2017-09-26 17:20] fredsa commented on #661
I was able to reproduce this using Unity 2017.1.1p3 (using an iOS 11.0 phone) by setting either **OpenGLES2** or **OpenGLES3** as the first Graphics API:

Full set of changes from a new / default Unity project to reproduce:
* **Player Settings > iOS > Other Settings > Virtual Reality Supported**: enabled
* **Player Settings > iOS > Other Settings > Virtual Reality SDKs**: Cardboard
* **Player Sett

[2017-09-26 17:21] fredsa commented on #661
Unity is working on getting the fix out for the aforementioned issue (thanks @SamtheSpartan):

[2017-09-26 18:36] rpassareti commented on #421
even changing the resolution on my s7, the displays still be in the wrong position
seems like the circle is bigger

[2017-09-26 20:29] ylluminarious opened #735 "My controller will not vertically rotate"
In a scene of my Unity project, my controller will only rotate along the roll axis. It simply refuses to rotate along the pitch or the yaw, no matter what my hand movements are. This is unacceptable for my game, since the user needs to feel like they have free hand movement. However, the controller works completely as expected in the GVR Demo Scene that is supplied with the SDK, so it must be a pr

[2017-09-26 20:45] fredsa commented on #735
I would guess that you either have custom scripts which are limiting the controller, or have other constraints such as a rotation frozen rigid body.

Suggest comparing the demo scene which works with your scene to see what the differences are.

[2017-09-26 22:24] chidl003 commented on #721
When do you plan to incorporate mags for drift correction on newer iPhones?  We are working on a high profile AR app at Disney due to ship soon but drift on iPhones is a huge concern.

[2017-09-27 05:06] sujay46 commented on #689
[logcat_shader.txt](https://github.com/googlevr/gvr-unity-sdk/files/1335847/logcat_shader.txt)

This is what I got in my logcat.

[2017-09-27 12:56] dustinkerstein commented on #661
@fredsa It say's it's fixed in a future release but it's remained broken in the subsequent 2017.3 beta, 2017.2 RC, 2017.1 patch releases that are dated after it being marked as fixed. Should we just wait one more round of releases, or should we try to reach out to the folks on the Unity side to get more details?

[2017-09-27 17:12] chaosemer commented on #733
That is unexpected, Windows 7 is expected to work fine. Could you please share a repro project?

[2017-09-27 17:13] chaosemer commented on #732
Could you please describe what seems distorted? A screenshot or repro project would help a lot.

[2017-09-27 17:34] OmegaMule commented on #671
There is another interesting bug related to this issue. Calling Screen.SetResolution() in Unity doesn't affect Cardboard's VR viewports at all. They are always being rendered at the initial size (being rendered outside of screen borders for example). What makes this even worse is that calling VRSettings.RenderScale or ViewportRenderScale changes their resolution, but not their on-screen size. So f

[2017-09-27 18:28] ylluminarious commented on #735
@fredsa Thanks for the advice. It turns out that the issue was that I had not tagged my Camera component with the `MainCamera` tag.

[2017-09-27 18:28] #735 closed

[2017-09-28 00:30] fredsa commented on #671
@OmegaMule Please create a separate issues for the `Screen.SetResolution()` and `VRSettings.renderScale` / `VRSettings.renderViewportScale` issues you're seeing, and link to the Unity bug which will help us track any fixes which need to happen there.

[2017-09-28 05:26] sujay46 commented on #689
@sandorvasas  and @nathanmartz  I was going through the shaders that are used in GVR 1.70. It is written in "GLSLProgram" as contrary to the shader in GVR 1.60 which is written in "CGPROGRAM". Could that be causing issues in shader compiling? I am not a pro in shaders, but probably this could help you guys to figure out the issue.
I am attaching both the shaders here.
shader from Gvr 1.70
[VideoUn

[2017-09-28 15:48] fredsa commented on #421
The Google VR services update @jdduke [mentioned](https://github.com/googlevr/gvr-unity-sdk/issues/421#issuecomment-327902050) above, initially scheduled to go out this week, has been pushed to next week. Expect the staged rollout of the VrCore update to begin on Monday, October 2, 2017.

To see the current version of VrCore on your device, use:
**Settings > Apps > ︙ > Show system apps > Google VR

[2017-09-28 16:25] p12tic commented on #661
Hi, as of now, the fixes are targeted to 5.6.4p2, 2017.1.2p1, 2017.2.0p1 and 2017.3.0b3.

[2017-09-28 21:37] rusmaxham commented on #689
Yes, the video player pipeline was redone in 1.70 to remove a buffer copy step that had previously been done in a native plugin to get the video buffers into a form Unity could use.  Now the GLSLProgram is able to use video buffers directly from the decoder without the copy step, improving performance and battery life.

I just tried the Video Demo scene in the SDK built with 5.6 and 2017.1 on Sams

[2017-09-28 22:03] rusmaxham commented on #689
Could you run this adb command and report back the output:

`adb shell getprop ro.build.fingerprint`

[2017-09-29 01:48] fredsa commented on #621
Confirmed that the bug exists in the current 1.70 SDK.
This should be fixed in an upcoming release. Thanks PR #622.

[2017-09-29 01:54] fredsa commented on #725
Using iPhone 6s (A1687) running iOS 11.0, and using Xcode, Version 9.0 (9A235):
* Unity 5.6.3p3 -> Unable to reproduce
* Unity 2017.1.1p1 -> Unable to reproduce

In both cases scanning QR codes works correctly.
I used the GVRDemo scene from GVR SDK 1.70.

Is there anything else about your project that's different?

[2017-09-29 02:11] delphinius81 commented on #725
I'm thinking that it might have been due to the QR code that I generated from https://vr.google.com/cardboard/viewerprofilegenerator/. Any idea why a QR code would crash the app?

[2017-09-29 13:43] Marchelune commented on #670
So according to the comment on https://feedback.unity3d.com/suggestions/cocoapod-support-dependency-management , **cocoapod support has recently been added to unity cloud build** 🎉  !

[2017-09-29 15:54] fredsa commented on #725
Here's the QR code I made using your config. It does not crash for me.
![qr_viewer_profile](https://user-images.githubusercontent.com/1235362/31024179-151a59a0-a4f3-11e7-8f20-3ce1915150cb.png)

[2017-09-29 16:10] luizzenha commented on #661
Hello everyone

I made a temporary solution.

Create a simple plugin and after Loaded Cardboard View and enabled the VR to call the native code below:

In Native Code:

#import "UnityInterface.h"

-(void) myNativeMethod{
 UnityPause(1);
[NSTimer scheduledTimerWithTimeInterval:0.5f target:self selector:@selector(freeUnity) userInfo:nil repeats:NO];
}

-(void) freeUnity{
    UnityPause(0);
}

It had

[2017-09-30 06:47] LoofahBu opened #736 "White screen when back to unity from QR code reader view"
I click setting button enter QR code reader view.

When back to unity, the whole screen become white.

Below is error message and my unity and gvr version.

OpenGLES error 0x0506 in Unity/Classes/Unity/GlesHelper.mm:339
OpenGLES error 0x0502 in Unity/Classes/Unity/GlesHelper.mm:339
OpenGLES error 0x0502 in Unity/Classes/Unity/GlesHelper.mm:339
OpenGLES error 0x0502 in Unity/Classes/Unity/GlesHelpe

[2017-09-30 14:26] nathanmartz commented on #736
I'm sorry but we can only provide support for the current version of the SDK, and the one you are using is more than a year old.

[2017-09-30 14:26] #736 closed

[2017-09-30 15:33] WinCisky opened #737 "Particle System bug"
There's a problem with circular particle system (aren't diplayed properly).
In the image there's a sphere with a particle system outside it but something isn't working.
This is how it should be:
![howitshouldbe](https://user-images.githubusercontent.com/15329035/31047130-3c63f30a-a605-11e7-9c3a-84ea199a86bd.png)
And this is how it looks:
![psbug](https://user-images.githubusercontent.com/15329035/

[2017-10-02 20:57] AAKLebanon commented on #661
Hi everyone. I have a similar issue to this, I am using unity 2017.1.1 and GVR-unity 1.7.
However in my case, the game will crach, so I can see the black screen for 3 seconds and the game will crash. I tested this on iPhone 6 plus with iOS 10.3
However, I have found that the problem is in the GVR audio, so I deleted every reference in the demo scene to the GVR audio and the demo scene work now on

[2017-10-03 05:22] sujay46 commented on #689
@rusmaxham It is a Samsung Galaxy S6.
and this what i got for your adb command.
samsung/zeroflteue/zerofltetmo:7.0/NRD90M/G920TUES5EQH2:user/release-keys

[2017-10-03 07:28] hassan4202 opened #739 "Issue when importing new GoogleVRForUnity"
I am creating a new project error message is displayed indicating the following
Assets/GoogleVR/Scripts/UI/GvrDropdown.cs(23,28): error CS0246: The type or namespace name `Dropdown' could not be found. Are you missing a using directive or an assembly reference?

Why does this happen?

Thanking you in advance the care provided.

[2017-10-03 11:14] jonny2027 commented on #421
@fredsa Can you tell us what version of VRCore will have the fix in for this issue?

[2017-10-03 15:13] dustinkerstein commented on #671
Just wanted to check in to see if there was any ETA for this fix. Happy to help test any beta code or potential workarounds.

[2017-10-03 16:37] jdduke commented on #421
The Google VR Services with the tentative fix should have the following version name: 1.10.170249286. Rollout will hit 25% today, and 100% be the end of the week.

[2017-10-03 16:39] jdduke commented on #671
No definitive ETA, but we're actively exploring several solutions together with Samsung. We'll keep this thread posted as we have more concrete details to share.

[2017-10-03 19:36] rusmaxham commented on #689
@sandorvasas could you send me your android build fingerprint?  I've so far been unable to reproduce on both the Qualcomm and Exynos versions of the Samsung S8 and S8+.

@sujay46 that version of Android should be supporting the needed extensions to support the video player.  Could you send me the project (with project settings) you created to reproduce the issue?

[2017-10-03 21:00] nathanmartz commented on #739
Hi, Hassan. Did you delete the old SDK before installing the new one? If
not, that will probably fix your issue.

On Tue, Oct 3, 2017 at 12:28 AM, hassan4202 <notifications@github.com>
wrote:

[2017-10-04 07:38] crtq opened #740 "Crash when using spatial audio - iOS"
Yo guys I always get a crash of the iOS app when I try to upload a scene with spatial audio (even demo scenes with room audio). Has anybody else had this? Any workaround?
I'm on Unity 2017 - gvr sdk 1.70 - iphone 6 version 11.0.1.

These are the errors I get:

[code]

[2017-10-04 11:10] Juanfry88 opened #741 "Crash when I running the DemoScene"
Hi everyone!
I have imported gvr unitypackage and I build for iOS, when I run in xCode the app start but nothing appear, only a black screen... I have xCode 9.0 (9A235) and Unity 2017.1.0f3

_eVR(1641,0x1b5343b80) malloc: *** error for object 0x1082c1648: incorrect checksum for freed object - object was probably modified after being freed.
*** set a breakpoint in malloc_error_break to debug
(lldb)

[2017-10-04 13:28] nathanmartz commented on #741
Is this in a brand new project with just the GVR SDK or are there other
plugins and such installed? If the latter, can you try the former?

On Oct 4, 2017 4:10 AM, "Juanfry88" <notifications@github.com> wrote:

[2017-10-04 14:05] Juanfry88 commented on #741
There isn't other plugin... only gvr, and I run the demo scene, without touch anything

[2017-10-04 17:18] fredsa commented on #741
@Juanfry88 To help isolate the source of the problem, can you try creating a new Unity project with just an empty scene? Set the build platform to **iOS**, but leave **Player Settings > iOS > Other Settings > Virtual Reality Supported** _disabled_. Build and run the app.

If that works, enable VR support and build and run the app again:
* **Player Settings > iOS > Other Settings > Virtual Reality

[2017-10-04 17:45] rusmaxham commented on #740
This is a duplicate of https://github.com/googlevr/gvr-unity-sdk/issues/665.  See that issue for a workaround until the proper fix is pushed live.

[2017-10-04 17:45] #740 closed

[2017-10-04 17:55] dustinkerstein commented on #709
Upon a little more testing on a Samsung S6 and S8 (Mali version), this actually does seem to be related to both Single Pass Rendering and Anti Aliasing. If AA is disabled when Single Pass Rendering is enabled, these errors will appear and VR mode will be broken. Enabling AA prevents this from happening.

[2017-10-04 18:03] dustinkerstein commented on #709
@nathanmartz Do you know if this fix is going to be on the Unity side, or within Google VR Services?

[2017-10-04 18:13] nathanmartz commented on #709
Unfortunately single pass rendering just doesn't work reliably on those devices. We're going to release an update to the SDK and VRCore that disables single pass on devices that we know can't support it robustly.

[2017-10-04 18:17] dustinkerstein commented on #709
@nathanmartz ok, so that means the fix will be in a future Unity release rather than Google VR Services, correct?

[2017-10-04 18:19] nathanmartz commented on #709
Both, actually.

On Wed, Oct 4, 2017 at 11:17 AM, dustinkerstein <notifications@github.com>
wrote:

[2017-10-04 18:23] dustinkerstein commented on #709
@nathanmartz Interesting. Will both the Unity fix and Google VR Services fix address the issue independently, or will it actually require both components in order to fix it at all?

[2017-10-04 18:28] nathanmartz commented on #709
VRCore will fix daydream apps and cardboard apps where VRCore is installed.
To fix all cardboard apps you'll need a unity update.

-Nathan

On Wed, Oct 4, 2017 at 11:23 AM, dustinkerstein <notifications@github.com>
wrote:

[2017-10-04 22:40] trinquity commented on #667
I still face this problem. If I use  `GvrCardboardHelpers.Recenter()` app crashes on iOS builds. Is there any update about this issue?

[2017-10-05 00:51] fredsa commented on #667
For iOS, please also see #621, fixed by the PR in #622.

[2017-10-05 16:50] delphinius81 commented on #725
That QR code works (in that the app does not crash), but it results in a complete lack of lens distortion. The left/right images are rendered completely square, so either the code lacks any parameters, or something is ignoring them.

I've tried to create additional QR codes with different names/parameters, and they all come up when scanned as being "z4" viewer and then freeze my application (thoug

[2017-10-05 18:00] fredsa commented on #725
@delphinius81 Can you attach a clear image of the your viewer's QR profile?

[2017-10-05 18:13] delphinius81 commented on #725
Sure. Following is the image that is generated.
![fearlessz4viewerprofile](https://user-images.githubusercontent.com/4960109/31243119-15e545d2-a9be-11e7-81fc-bd010e3594d8.png)

It uses the following parameters:
Company Name: Fearless
Device Name: FearlessZ4
Screen to lens distance: 38
Inter-lens distance: 60
Button type: Indirect Touch
Screen Vertical Alignment: bottom
Tray to lens center distance

[2017-10-05 18:41] dustinkerstein commented on #661
FYI - Unity 2017.3.0b3 was just released today and does indeed fix this issue. Though I don't see it mentioned in the release notes.

[2017-10-05 21:40] fredsa commented on #725
That QR is indeed bad, as is the URL. If you try loading it, you'll see that the parameter are not the ones you've listed.

If I retype the parameter you've listed I get:
http://google.com/cardboard/cfg?p=CghGZWFybGVzcxICejQd46UbPSWPwnU9KhAAAEhCAABIQgAASEIAAEhCWAA146UbPToIzcxMPs3MTD1QAGAD
![z4](https://user-images.githubusercontent.com/1235362/31253758-e755768e-a9da-11e7-85f7-f28a39cb6c92.png)

[2017-10-05 21:52] delphinius81 commented on #725
So basically the profile generator is broken for me then? I entered in those parameters from a blank form, and it generated a broken QR code.

If I attempt to load the viewer parameters using the link you give, but I change the viewer name, I end up with a QR that is bad as well. Is https://vr.google.com/cardboard/viewerprofilegenerator/ just broken or something?

[2017-10-05 22:00] fredsa commented on #725
I'm using Chrome: 61.0.3163.100 (Official Build) (64-bit)

[2017-10-05 22:07] delphinius81 commented on #725
Same here. Version 61.0.3163.100 (Official Build) (64-bit). Using Safari seems to work though.

I can load the viewer parameters from your QR code, change the viewer name, and the code is successfully loaded.

Guess I can try incognito mode in Chrome, maybe some extension I'm running is interfering somehow.

[2017-10-05 22:14] delphinius81 commented on #725
Hmm, everything loads fine when using an incognito browser tab. Must be an extension messing with the javascript somehow.

I guess this issue is resolved as much as need be, though I'd suggest improving the UX for when a bad QR code is scanned/provided. Ideally, if the user scans a bad code, that would be detected and discarded, and the last known good or default values would be used instead, with

[2017-10-05 22:21] fredsa commented on #725
Glad we got it resolved.

Viewer profiler and QR code creation are advanced features, not intended to be used by most developers. In fact, it's intended mainly to be used by viewer manufacturers.

[2017-10-05 22:21] #725 closed

[2017-10-06 05:38] sujay46 commented on #689
@rusmaxham my device has Android 7.0. Here is the [link](https://www.dropbox.com/s/ras5jmsl88eqrv5/GVR_Video_test.zip?dl=0
) for the project. Just run the VideoDemo scene in Google VR demos.

[2017-10-06 12:59] dustinkerstein commented on #671
FYI, in case anyone was wondering about the newest Google VR Services update, it doesn't have any effect on this particular issue.

[2017-10-06 16:11] ZioCain opened #742 "Stereo camera issue on iOS"
Hello everyone, I downloaded the latest SDK (1.70.00) and applied it to a new project, then added the old script & resources files from old project using an older version on GVR (i think it was 1.30)

Build for android: no issue at all
![vrtuosoandroid](https://user-images.githubusercontent.com/20202431/31287248-ecce4762-aac0-11e7-9036-795043cd4d5e.jpg)
Build for iOS (after several edit on the pro

[2017-10-06 18:57] guneyozsan commented on #421
I can confirm this is fixed for me after receiving the Google VR Services version 1.10.170928015.

[2017-10-06 23:36] #421 closed

[2017-10-07 02:15] fredsa commented on #621
Fixed in v1.100.

[2017-10-07 02:15] #621 closed

[2017-10-07 02:17] fredsa commented on #666
Fixed in v1.100.

[2017-10-07 02:18] fredsa commented on #674
The broken `GvrFPSDisplay` prefab and script were removed in v1.100.
Daydream app developers are encouraged to use [Performance HUD](//developers.google.com/vr/tools/perfhud) instead.

[2017-10-07 02:18] #674 closed

[2017-10-07 02:36] JapaMala commented on #674
Just want to note here that the performance hud is daydream only.

Cardboard app developers will need to use a different solution.

[2017-10-07 09:33] sanky369 opened #743 "Instant Preview not working for GVR SDK 1.100 and Unity 2017.1"
I ran the GVR demo project which had the instance of Instant Preview and I connected my phone Axon 7 having the instant preview apk (updated one). Still, the preview didn't work in the phone like it used to do earlier for previous SDK versions.

[2017-10-07 18:35] amitchai commented on #661
Confirmed. Finally is working.

[2017-10-08 20:47] dsternfeld7 commented on #521
Thanks for the report! Are you still able to reproduce this issue in the 1.100 version of the SDK? If so, can you provide steps to reproduce the issue in an empty scene?

[2017-10-09 02:34] rusmaxham commented on #689
The video plugin is not guaranteed to work on non-Daydream-ready devices, like the S6.  I'm much more able to assist in debugging issues with the video plugin on a Daydream-ready device, like the S8.  If I can get my hands on an S6, I'll try to debug this issue, but no guarantees.

[2017-10-09 07:09] jplongo opened #744 "-[UICTFont mdc_weight]: unrecognized selector sent to instance"
I issue big crash when VRIsEnabled. Can't find why my app crash here.

I've set Symbolic breakpoint and know that the crash happen in
`CardBoardAppController.mm - line 51`
Selector `-[UICTFont mdc_weight]` is in libGVRSDK.a but I can't access inside the library.
Any info about this crash ?

Thanks

![2017-10-08 at 3 54 pm](https://user-images.githubusercontent.com/22789876/31317449-ab061526-ac41-1

[2017-10-09 10:06] Mozis commented on #521
I totally would try that, but it would take too much time, I think. I don't remember the setup that caused the problem for me. I got it fixed and moved on.
Maybe someone else can try the new version out.

[2017-10-09 14:57] #521 closed

[2017-10-09 17:26] gstanlo commented on #743
We've noticed some issues with the latest version Instant Preview running on the Axon 7 phone. At this time the best suggestion we have is that a device update to the phone might help,. We're looking into this now, though.

[2017-10-09 19:15] gstanlo commented on #743
Which version were you using before? Also, can you share your device and VR services version? For reference I've been able to get it to work with the following:

Model number: ZTE A2017U
Instant Preview: 1.0.0.57
Android: 7.0
vr services build: 1.10.170928015
MiFavor UI (?): 4.2

[2017-10-09 21:11] jiulongw commented on #744
Adding `-objC` to `OTHER_LDFLAGS` should fix this issue.

https://developer.apple.com/library/content/qa/qa1490/_index.html

jiulongw/swift-unity#3

[2017-10-10 01:08] fredsa commented on #661
Great to hear 2017.3.0b3 fixes the issue.

Will leave this issue open a little longer, until the fix is back ported and released by the versions mentioned by @p12tic [above](https://github.com/googlevr/gvr-unity-sdk/issues/661#issuecomment-332890034).

[2017-10-10 12:50] Flameshot opened #745 "GvrVideoPlayerTexture not rendering"
Hello. I have imported the last GVR Unity SDK 1.100.0 in my unity project and created a 360 video. When I'm building and runnint it using unity everything works fine. But because I'm using a personal SDK i have to export the project in android studio and compile there.
In my build.gradle I have used:

compile(name: 'gvr', ext: 'aar')
	compile(name: 'play-services-ads-9.4.0', ext: 'aar')
	compile(n

[2017-10-10 14:22] ZioCain commented on #742
@fredsa yeah, that's exactly what I do:
1. I set minimum iOS to 10.0
2. Build the project (tried both update and replace)
3. closed XCode, opened terminal, ran those commands
4. opened the workspace -> run on iphone -> you've seen the result
4. opened the project -> run on iphone -> same result

[2017-10-10 16:17] fredsa commented on #742
@ZioCain What version of Unity are you using?

Can you try creating a new / empty Unity project, setting building Platform to iOS, import the latest Google VR SDK for Unity, open and build the GVRDemo scene, open workspace in Xcode and build it?

[2017-10-10 19:45] Flameshot commented on #745
Fixed it by adding compile(name: 'gvr-exoplayersupport-release', ext: 'aar') in build.gradle dependencies.

[2017-10-10 20:58] #745 closed

[2017-10-10 21:01] rusmaxham commented on #745
What version of Unity did this occur with?

[2017-10-11 04:30] andyandrewdrew opened #746 "GvrTrackedController - GVR 1.100"
In the OnDisable() function, add this line:
`GvrControllerInput.OnStateChanged -= OnControllerStateChanged;`

Or, in the OnEnable()( function, remove the existing line:
`GvrControllerInput.OnStateChanged -= OnControllerStateChanged;`

We subscribe to OnControllerStateChanged in the Awake and OnEnable functions and unsubscribe only in the OnDestroy function. I found this bug when I change scenes. I

[2017-10-11 05:47] Flameshot commented on #745
@rusmaxham  Unity 2017.1.0f3

[2017-10-11 08:31] ZioCain commented on #742
As stated before: I'm currently using Unity 5.6.1f
![screen shot 2017-10-11 at 10 31 29](https://user-images.githubusercontent.com/20202431/31429835-60034d8e-ae6f-11e7-887c-bda90a472cad.png)

Did that with Gvr 1.70 and it started only after the pod thing, still the the same issue
Tried then to import the new package (1.100) and:
- without doing the pod thing: it crashes just after the launch scree

[2017-10-11 16:43] fredsa commented on #746
Found in Google VR SDK for Unity 1.100.0.

[2017-10-11 19:12] fredsa commented on #746
For search-ability, including the error message seen in the Android device logs (`adb logcat -s Unity`) after switching scenes using Google VR SDK for Unity 1.100.0:

[code]

[2017-10-11 19:46] rusmaxham commented on #746
We're working on a fix now.

[2017-10-12 17:25] EvilBhalu opened #747 "Laser out of sync with controller model"
![1](https://user-images.githubusercontent.com/17793526/31509604-1c466acc-af50-11e7-89ed-7dd26dbf52d1.jpg)
![2](https://user-images.githubusercontent.com/17793526/31509606-1d162b22-af50-11e7-879e-463d2b805728.jpg)

Been trying to build an app with the latest GVR and Unity version 2017.1.1f1 but the laser is out of sync with the controller model. This causes some discrepancies during the movement a

[2017-10-12 17:44] dsternfeld7 commented on #747
Can you post what the transform properties are on the object GvrControllerPointer->Laser ?

<img width="1078" alt="laser" src="https://user-images.githubusercontent.com/20076332/31510646-f0894ab4-af39-11e7-81a3-9cdf993d697b.png">

As you can see in the above photo, the position and orientation of the laser relative to the controller is determined by the properties on the transform. It is oriented

[2017-10-12 21:36] EvilBhalu commented on #747
![3](https://user-images.githubusercontent.com/17793526/31520375-a6339d40-af73-11e7-8a43-56b211912ff5.jpg)

That seems to be the issue! My transform properties have been reset. Also, another thing I see is that your pivot point seems to be the front of the controller while mine is at the back.

[2017-10-12 21:39] dsternfeld7 commented on #747
Ya, the laser is positioned forward so that it is at the front of the controller.

If you reset the rotation to 0,0,0 then your app will not pass the "[Lower the laser ray an additional 15°](https://developers.google.com/vr/distribute/daydream/design-requirements)" design requirement and will be rejected from the play store. I strongly recommend that you keep the default values for the transform.

[2017-10-12 21:42] dsternfeld7 commented on #747
Based on your initial images, are you sure that the laser is actual offset to the left or does it simply look that way because of the perspective that you are observing the controller from? Have you observed the laser orientation on-device as well?

[2017-10-12 21:44] EvilBhalu commented on #747
@dsternfeld7 I have. When using on-device (Pixel/S8) the issue pops up 4 times out of 10. It may not seem a high number but I'd rather not have the issue.
Also, what values do you use for the Laser? My prefab values seem to be at 0,0,0 by default.

[2017-10-12 21:49] dsternfeld7 commented on #747
The default values in the prefab are in the image I posted above. If they are different for you, you may have applied changes to the prefab in the SDK.

[2017-10-12 21:50] dsternfeld7 commented on #747
Can you send an image of all settings you have set on GvrLaserVisual?

[2017-10-12 21:56] EvilBhalu commented on #747
That's definitely a possibility. I've been messing with the settings so much, it's a possibility that I reset the values in the SDK. I'll pull a new version for the next project.

Attaching the settings on GvrLaserVisual -->

![5](https://user-images.githubusercontent.com/17793526/31521190-9dce654c-af76-11e7-9111-a76f87608056.jpg)

[2017-10-12 21:57] dsternfeld7 commented on #747
I don't see anything wrong in the inspector, if you can send me a simple project that re-produces the issue I'll take a look.

[2017-10-12 22:15] EvilBhalu commented on #747
I think I'll build the project I'm working on and see if the issue pops up again. I think resetting the rotation to the original prefabs value and shifting the laser to the front of the pointer should solve the offset.
I'll also build a new, simple project and see if the issue persists. Thank you for the transform values!

[2017-10-13 07:04] Moncader opened #748 "Daydream controller tracking stops working after resuming application"
The newest GVR SDK v1.100.0 in Unity 2017.2 has an issue where the controller stops working after your application pauses and then resumes.

This can be done in multiple ways. Here are two of them.

Number 1:
1. Make a new Unity Project
2. Add the GVR SDK
3. Set the Unity XR mode to Daydream by default
4. Set the GVRDemo scene as the default scene.
5. Run the app on any Daydream device (tested on

[2017-10-13 08:46] helge79 commented on #421
I cannot confirm this is fixed for me. Our apps built with Unity 5.5.2f1 and GVR SDK 1.30 still do not work in Full HD mode after updating Google VR services to 1.10.170928015. Should this work or is Unity 5.5 and GVR SDK 1.30 the show-stopper here?

[2017-10-13 09:59] guneyozsan commented on #421
If it helps our versions are Unity 2017.1.1p2 and GVR 1.60.

[2017-10-13 10:10] Juanfry88 opened #749 "How can reduce the motion sickness when I round my head?"
Hello everyone,

How can reduce the motion sickness when I round my head? Because It's something annoying
Any idea? Thank you

[2017-10-13 17:02] nathanmartz commented on #749
For this kind of general "how to" question, please post on stack overflow. This forum is only for bugs/issues with the SDK.

[2017-10-13 17:02] #749 closed

[2017-10-13 18:11] bopangzz commented on #748
Thanks for the bug report. We will look into it.

[2017-10-13 18:41] dsternfeld7 commented on #748
Thanks for the report!

This issue is specific to Unity 2017.2 and cannot be fixed in the GVR SDK for Unity. There are more details in this forum post [here](https://forum.unity.com/threads/daydream-controller-freezes-after-returning-from-daydream-home.498778/).

[2017-10-13 18:51] jplongo commented on #744
With help of @jiulongw and StackOverflow, I'm able to solve my issue.
Thanks

[2017-10-13 18:51] #744 closed

[2017-10-13 19:37] rusmaxham commented on #746
Fixed in 1.100.1.

[2017-10-13 19:37] #746 closed

[2017-10-13 19:48] rusmaxham commented on #748
This is expected to be fixed in 2017.2.0p1.

[2017-10-13 23:37] CMDann commented on #742
I am also experiencing an issue with this. The same app built in Unity and deployed to both Android and iOS is having an issue with warping on the stereoscopic viewer. We are rendering 360-degree images in our application. Here is the issue

Android:
![screenshot_20171013-174531](https://user-images.githubusercontent.com/4128000/31569917-9c84f16e-b044-11e7-9485-7242f7ab6f30.png)
![screenshot_20171

[2017-10-15 01:40] derekja opened #750 "instant preview over wifi"
on gvr-unity-sdk v1.100.1 and unity 2017.2 I cannot get instant preview to work over wifi. This is on an Asus Zenphone AR, and the instant preview app on the phone can see the desktop over wifi, and connection over USB works just fine. This is using the GVRDemo application in the SDK.

In the unity console I see the following warnings:
1) VRDevice daydream not supported in editor mode. Please run

[2017-10-15 21:54] ShacharWeis commented on #669
This saved my ass, after HOURS of pulling my hair out. I can confirm this is still a problem with 2017.2.0f1

[2017-10-16 15:03] dustinkerstein commented on #671
Just wanted to check in. Any news from the Samsung / Unity / GVR side of things?

[2017-10-16 17:36] OmegaMule commented on #671
@dustinkerstein: Unity 2017.1.2p1 "XR: Fixed handling of Android density (screen resolution) changes to avoid a crash."

- I haven't tried it yet, because I use 5.6.x, but this change should avoid the crash. Whether they also fixed the scaling issue is unknown. Somebody should try it.

[2017-10-16 17:48] fredsa commented on #676
Linear color buffers are currently unsupported.

[2017-10-16 18:01] rusmaxham commented on #671
A fix for this is also coming to Unity 5.6.x.

[2017-10-16 18:13] dustinkerstein commented on #671
@OmegaMule Nice! I just confirmed this is working correctly in 2017.1.2p1 for both FHD+ and WQHD+ resolutions. Toggling VR mode also works correctly.

[2017-10-16 18:18] rusmaxham commented on #669
This is now fixed in the publicly released 2017.2.0f3.

[2017-10-16 18:18] #669 closed

[2017-10-16 18:18] Claytonious commented on #669
Still an issue on 2017.3b4, but now further complicated by a new build failure if you simply use the workaround of unchecking the Android platform on both of these libs. The error is that the Gvr Audio Renderer effect is failing to find the native libs it wants (presumably these guys that we've disabled to get around the original error). Trying to workaround this now by also removing the GvrAudioM

[2017-10-16 18:24] fredsa commented on #421
@helge79 Native integration of Google VR into Unity exists from Unity 5.6 onward, so at the moment that's Unity 5.6 and 2017.

Unity 5.5 does not have native Google VR integration, so will not be affected by the installed Google VR Services.

[2017-10-16 18:32] rusmaxham commented on #669
I'm unable to reproduce this issue with 2017.3b4.  Are you able to reproduce this issue with the GVRDemo in the GoogleVR SDK on 2017.3b4?  If so, what is the specific failure mode you're seeing?

[2017-10-16 19:25] fredsa commented on #750
@derekja Are you able to use `adb` commands over Wi-Fi?
https://developer.android.com/studio/command-line/adb.html#wireless

The most common issue is [AP isolation](https://www.google.com/search?q=What+is+AP+isolation+on+a+wireless+router) which prevents your development machine and phone from being able to communicate with each other, even though they are accessing the same wireless access point

[2017-10-16 19:39] #742 closed

[2017-10-16 20:01] derekja commented on #750
yes, ADB connects fine over wifi or USB, but instant preview connects only over USB.

[2017-10-16 20:04] CaptainScience commented on #743
I am also running into this problem.

Model number: ZTE A2017U (A2017UV1.1.0B32)
Android: 7.1.1
VR services: 1.10.170928015 (160729335)
MiFavor UI: 4.2
Unity: 2017.2.0f3

I had been using the Instant Preview 1.0.0.15 and SDK 1.70 which was working fine, but am now having trouble with it since trying SDK 1.100.1 (Instant Preview 1.0.0.65). I have also tried SDK 1.100.0 (Instant Preview 1.0.0.57), b

[2017-10-16 21:35] AlexanderStohr commented on #421
i feel like i got all of the latest updates - but for the S7 i see it only fixed for the low and medium resolution mode. it still does not work for the high resolution "W" mode. sorry to say.

[2017-10-16 23:14] gstanlo commented on #750
It's surprising that you can't connect to the host computer, but it's visible in the host selection. When you select it from the drop down menu, does it stay in the disconnected (red) state, or does it appear connected (grey) but not stream?

There should be little difference between wifi/usb. Instead of connecting to 127.0.0.1, the app will connect to the advertised host address. Is it possible s

[2017-10-17 00:35] gstanlo commented on #743
Can you ensure that no other instances of Unity running Instant Preview are open? Also worth trying is to close all instances, run adb kill-server, and then reopen. It's rather puzzling that everything seems nearly identical (I tried updating to 7.1.1 as well). I can take a look at your logcat if you email it to me: stanlo@google.com.

[2017-10-17 00:38] derekja commented on #750
no, it stays in the disconnected state. I don't think 49838 is blocked, the firewall looks to be open. I am having a harder time figuring out if multicast is working properly. I'm following the instructions at https://helpdesk.kaseya.com/hc/en-gb/articles/229021468-How-to-test-if-Multicast-is-working-on-your-network and not getting a file to transfer, but I don't have 100% confidence in those dire

[2017-10-17 00:53] gstanlo commented on #750
The multicast is only used to advertise the host address, and that aspect seems to be working; I'm assuming that the host computer you're trying to connect to is indeed at 10.1.2.135?

Is the logcat showing any exceptions?

[2017-10-17 01:18] derekja commented on #750
yes, 10.1.2.135 is the correct host address.

I don't see anything that stands out, except for a huge number of entries about an OAuth failure:

10-16 18:05:28.527  6938  7144 I native  : oauth_provider.cc:92 OAuth provider returned invalid token, sleeping...

Actually, if I filter the logcat by errors I do get some that might be interesting. I'm going to drop all of them in after the instant prev

[2017-10-17 01:59] CaptainScience commented on #743
Got it working! I made sure to uninstall Instant Preview, kill all background apps, reboot the phone (just to be sure), and run "adb kill-server" when switching Instant Preview versions, and was able to get both 1.0.0.57 and 1.0.065 working. Thanks for the hint. Great to have that working again.

[2017-10-17 09:44] jules43 opened #751 "Cardboard Fails to use Calibrated Profile (Object is null when calling method setVRModeEnabled)"
I am having problems with my Unity based cardboard application failing to initialise the profile correctly and then not displaying the settings icon and not using the calibrated headset viewer/screen.

I have created an empty project and then imported GoogleVRForUnity_1.40.0.unitypackage and subsequently GVRBackwardsCompatibility.unitypackage. I then opened the scene Assets\Demos\Scenes\GVRDemo, s

[2017-10-17 15:16] jules43 commented on #751
Having looked for similar problems reported previously I note that my Android Manifest file is exactly a copy of AndroidManifest-Cardboard.xml which comes with the Unity plugin.

[code]
The activity is com.google.unity.GoogleUnityActivity.

I also note that the app successfully picks up calibration profile on a Motorola G4 Plus.

Thanks

Jules

[2017-10-17 16:28] googlevr-unreal commented on #751
Can you try comment out the line
`device.SetVRModeEnabled(vrModeEnabled);`
in GvrViewer.cs and see if it fixes the issue? I think you don't need to call that method for cardboard app.

[2017-10-17 16:33] bopangzz commented on #751
Can you try comment out the following line in GvrViewer.cs and see if it fixes your issue?
` device.SetVRModeEnabled(vrModeEnabled);`
Note that there are two of them.

[2017-10-17 17:08] andwoo commented on #144
What solved it for me was starting the app in landscape left then switching to portrait before showing our main menu. It seems like some initialization on startup required the app to be in landscape left.

[2017-10-17 18:46] jules43 commented on #751
In my GvrViewer.cs that is line 355. I commented it out and rebuilt/deployed. The visual effect seemed to be the same, ie cross-eyed mode when using my Homido mini.

The log comes out a little differently, the relevant bit appears to be here:
[code]
I note that I am starting my app in magic window mode and then switching. You can see the actual switch breaking here:
[code]

[2017-10-17 19:00] bopangzz commented on #751
Sorry I missed that. Can you try comment out line 40 in AndroidDevice.cs? Basically make the SetVRModeEnabled function a no-op.

Though the error you saw in the logcat may not be the the cause of the visual effect you saw. Can you also attach a screenshot? Have you tried pair with other viewer? Is the distortion correct for other viewers?

[2017-10-17 20:52] jules43 commented on #751
My assumption is that somehow it gets the wrong profile data in (UpdateScreenData). It's notable that the settings icon doesn't get drawn either.

Here are three screen shots, all taken with Homido Mini configured:
https://drive.google.com/drive/folders/0B0HJORhfMvneT3NQVVcyQmlqd0k?usp=sharing

CardboardDemo is a shot from the actual Cardboard app.
MagicVR is a shot from a Cardboard app playing a

[2017-10-17 21:05] bopangzz commented on #751
Thanks for the all the information. They are pretty helpful. Just one thing to confirm here, the setting button and your app works as expected on Moto G4n and S7 Edge but with the same build you are having those issue on S7? What is the Android Version for you G4 and S7 Edge?

[2017-10-17 21:37] jules43 commented on #751
Situation is not as straight forward as one might hope.

**Moto G4+**
OS: Android 7.0 August Patch
Google VR Services: Not installed
Cardboard App: 1.8
My app - draws the settings / separator / back and seems to have correct profile
GVRDemo - doesn't draw settings etc but does have correct profile

I retested the two apps a couple of times and definitely what's happening.

I installed GoogleVR ser

[2017-10-17 23:25] bigfootaus commented on #708
Can replicate this on Unity 2017.2.0f2 and "GVR SDK for Unity v1.100.1". Calling Application.Quit () brings the app to the Daydream launcher in VR mode, and then a few seconds later crashes to the 2D Android home screen.

This is apparently preventing Daydream publishing for me; "When in VR, your app should never display any 2D images. Tapping on "Close Game" within the pause menu brings the user

[2017-10-18 08:18] pezvolador opened #752 "Unity GVR app - Huge movement delay"
Hello everybody.

Even though my scene is extremely basic (just one plane, medium quality settings) there is a huge delay between the movement of the head and the app responding. I have a total amount of 2 Draw Calls, 2 Batches, 1.9k Tris. Frame rate on pc is 4000 Fps!. So it definitely is not an optimization issue.

I have unity updated to 2017.2.0f3 and GVR is version 1.100.1. My phone is a Huaw

[2017-10-18 08:46] jules43 commented on #751
Just re-run all the tests with the same builds (SetVRModeEnabled commented out):

S7
My App            Icon: No  Profile: No
GVRDemo        Icon: No  Profile: No

(Profile used for both builds is the same, just doesn't match the Cardboard configured one).

S7 Edge
My App            Icon: No   Profile: Yes
GVRDemo        Icon: No  Profile: Yes

Moto G4+
My App           Icon: Yes   Profile: Yes
GVR

[2017-10-18 11:03] VadimTikhonyuk opened #753 "How to detect from which launcher app was laucned? From app list or from daydream launcher?"
Hi, there
My app have hybrid mode 2D + Daydream
This is what I want to do:
If user launch from app list - open 2D scene
If user launch from daydream - open VR scene

Anyway to do this?

[2017-10-18 12:14] VadimTikhonyuk opened #754 "GVR 1.100.1 + Unity 2017.2f2 = Duplicated audioplugingvrunity"
Hi, there

Deleting audioplugingvrunity didn't help because after it import this file again.

[2017-10-18 12:29] VadimTikhonyuk opened #755 "Unity 2017.2.0f2 + GVR 1.70 | GVR 1.100 Controller don't work"
Hi, there
Check this video:
https://youtu.be/vRRdE_fuqCQ

Controller tracking and touchpad don't work
Hardbuttons (Volume, Home) work

I output all available debug info on UI
`
// Update is called once per frame
void Update ()
{
log.text = GvrController.Accel.ToString() + "\n" + GvrController.ApiStatus.ToString () + "\n" +
GvrController.BatteryLevel.ToString () + "\n" + GvrController.Gyro.ToString

[2017-10-18 12:42] VadimTikhonyuk commented on #755
If I enable splash screen then it works, need to do some more researches

[2017-10-18 12:57] pezvolador commented on #573
I have the same exact problem. Have tried with other (most recent) unity and GVRSDK versions but still no improvement. Anyone?

[2017-10-18 13:04] VadimTikhonyuk commented on #755
Also If I enter in VR mode from 2D Scene with this code :

![image](https://user-images.githubusercontent.com/13260375/31719962-d5feb42a-b41d-11e7-83d7-71b32d428903.png)

Then Controller don't work again,
Also If Enter In VR Home then back again controller change position in game

[2017-10-18 13:07] pezvolador commented on #573
I think it has something to do with the phone not having a gyroscope. Not 100% sure but... It looks like that is the problem.

[2017-10-18 13:07] pezvolador commented on #752
I think it has something to do with the phone not having a gyroscope. Not 100% sure but... It looks like that is the problem.

[2017-10-18 13:35] dubtor commented on #452
Just like the original poster I own a Galaxy S6 (Edge) and in the past I was experiencing these drops without any noticable pattern. My app is a 360 video player. The performance would drop from like 50-60 fps to something like 30-40 fps. My project was a "classic" Google Cardboard project (pre Google VR SDK era, from mid 2016). I noticed that these drops happen seemingly randomly and last a minut

[2017-10-18 13:38] dubtor commented on #752
Did you read about this Unity problem? I am having the same problems https://issuetracker.unity3d.com/issues/android-input-dot-gyro-is-extremely-laggy-on-specific-device-with-android-7-dot-0

[2017-10-18 14:06] Rollo-Liu opened #756 "SDK wouldn't compile: Unity 2017.2.0f3 renamed UnityEngine.VR --> UnityEngine.XR"
For instance:

To fix those errors we need to replace all `UnityEngine.VR` to `UnityEngine.XR`.

[2017-10-18 18:05] prasengan opened #757 "Instant Preview is not displaying any output to screen on moto z"
instant preview version 1.0.0.65
moto z android 7.1.1 build NPL26.118-20-5
it is not feeding any output to phone screen but the controller is working, I am getting output and controller data if I use version 1.0.0.15, seems like there is some issue with new version.

[2017-10-18 18:21] bopangzz commented on #757
@gstanlo Can you take a look at this issue?

[2017-10-18 18:30] gstanlo commented on #757
The video streaming should be very similar between both versions -- can you confirm that the gvr demo scene works properly?

[2017-10-18 18:30] bopangzz commented on #756
Thanks for the report! We will get this fixed in our next release.

[2017-10-18 18:39] gstanlo commented on #750
`Channel is unrecoverably broken and will be disposed`
looks worrisome, are there any exceptions before that?

Also, can you try starting in VR mode? It should begin that way if you start it from the Daydream launcher, and it should list your host computer name in the vr view. There might be some issue when it switches activities.

[2017-10-18 18:39] prasengan commented on #757
gvr demo works on 1.0.0.15, but on 1.0.0.65 i can see  controller on laptop screen not on daydream, on daydream i see default instant preview scene.

[2017-10-18 18:47] rusmaxham commented on #756
Unity will auto-upgrade the code in the GVR SDK for Unity to UnityEngine.XR.  When you import the package into Unity, a dialog will appear:

<img width="562" alt="screen shot 2017-10-18 at 11 42 23 am" src="https://user-images.githubusercontent.com/13911074/31736383-6f61ccda-b3f9-11e7-9daa-f8f80034f7bd.png">

Click "I Made a Backup. Go Ahead!"

Because we support older version of Unity which use t

[2017-10-18 18:50] rusmaxham commented on #754
This issue is resolved in the public release of 2017.2**f3**.

[2017-10-18 18:50] #754 closed

[2017-10-18 18:51] rusmaxham commented on #755
This is a known issue with 2017.2f3 and will be fixed in 2017.2**p1** due out soon.

[2017-10-18 18:52] #755 closed

[2017-10-18 20:39] Rollo-Liu commented on #756
@rusmaxham
Thanks for your reply!

Unfortunately, your suggestion will not completely solve the issue because some of the references are not being used -- they have been flagged out by `#if UNITY_EDITOR`.

For example, in GvrArmModel.cs, line 404:
[code]

My suggestion is to flag out all `using UnityEngine.XR` with the compiler flag `#if UNITY_2017_2_OR_NEWER`. i.e.
[code]

[2017-10-18 21:22] bopangzz commented on #751
Hi,

I think there are basically two issue here and they may not be related.
1. The setting icon is missing.
2. The distortion is not correct on S7(It looks like this issue: #421)

For the icon issue, I tried to build GVRDemo with Unity 5.3.8p2 and GVR Unity SDK1.40 and run it on my Nexus 5, the icon shows up fine. Can you share your build of GVRDemo with Unity 5.3.8p2 and GVR Unity SDK 1.40 so I

[2017-10-18 21:29] dsternfeld7 commented on #747
No problem!

Do you have any updates on this issue from your end? If not, I will close the issue.

Thanks,

Dan

[2017-10-18 21:31] fredsa commented on #753
Sure:

Make sure **Player Settings > Android > Other Settings > Virtual Reality Supported** is checked.
Make sure **Player Settings > Android > Other Settings > Virtual Reality SDKs** lists:
1. **None**
1. **Daydream**.

This is ensures that:
* When launched from Daydream home, extra intent information is used to trigger use of the **Daydream** VR SDK. See `GvrIntent.IsLaunchedFromVr()` for an exa

[2017-10-18 21:48] #753 closed

[2017-10-19 00:11] fredsa commented on #660
@reed-alpert Are you still seeing this issue on your Pixel XL?

After some investigation, this sounds like a driver issue. If you're still experiencing this issue can you attach or send me a Unity project which reproduces it?

[2017-10-19 02:20] rusmaxham commented on #756
Unity prompts me to upgrade those call sites at build time.  Does it not for you?

We are working on a proper fix to this issue as well.

[2017-10-19 02:51] Rollo-Liu commented on #756
@rusmaxham

No. I was using cloud build that's probably why it wouldn't fix it for me.

I have also tried a local build and it did prompt me for an API upgrade. That's a new trick for me -- thanks a lot 👍

[2017-10-19 03:48] reed-alpert commented on #660
I no longer see this on the Pixel XL with Android 8.0.0 & Unity 2017.1.1p3 / IL2CPP & GVR 1.70.
Closing the case now, thanks.

[2017-10-19 03:48] #660 closed

[2017-10-19 04:03] reed-alpert commented on #672
This is still happening with Pixel XL and Android 8.0.0.
My workaround is to use the Instant Preview which does work in both Full VR and Controller Only modes.

[2017-10-19 04:07] prasengan commented on #757
Issue resolved, I created a new project and used adb server kill and then reimported my assets in the new project.

[2017-10-19 04:29] #757 closed

[2017-10-19 04:40] reinier450 opened #758 "Unity exports broken apps crashing on start."
No code was modified by me.
All that happened was that Unity updated to the latest version,
and needed me to update to the latest Android SDK.

I have not altered any function, I have no error messages, my phone just tells me that the app stopped working. I even tried using the demoscene with a brand new project and the problem persisted.
I am exporting on the correct android version number, I can

[2017-10-19 06:44] #756 closed

[2017-10-19 07:38] jules43 commented on #751
**Regarding 1: Setting Icon Missing**

I've placed a fresh build of the GVRDemo scene using Unity 5.3.8p2 and plugin 1.40  into the same drive folder (https://drive.google.com/drive/folders/0B0HJORhfMvneT3NQVVcyQmlqd0k?usp=sharing) and called it GVRDemoAndroidDbg.apk.

I've tested it on my S7 with latest GVR Services installed in FHD and WQHD res and the settings icon doesn't show up.

I've also u

[2017-10-19 07:42] jules43 commented on #421
I am working with Unity 5.3.8p2 and Google VR Unity plugin version 1.40 and an older build, and have been seeing this problem.

I can confirm that the problem occurs in FHD mode and is fixed in WQHD mode on my Samsung S7 (Android 7.0 Aug patch).

The problem still occurs when installing the 1.10.170928015 version of Google VR Services.

[2017-10-19 07:48] jules43 commented on #751
I have added some comments to #421 but I note that that issue is marked as closed, despite that it is apparently not fixed for some combinations of Unity / Plugin.

[2017-10-19 07:56] helge79 commented on #421
@fredsa Thanks for clarification, Fred. If updating Unity would not be an option can you think of any possible workaround we might apply?

[2017-10-19 09:47] VadimTikhonyuk commented on #753
@fredsa `GvrIntent.IsLaunchedFromVr()` return False everytime if None VR SDK on first place.
If Daydream then True
But If I launch from home 2d launcher, then I need to put phone in helmet to continue

I see only one solution, it's run in 2D mode, then I run VR to check for the presence of the start from the VR mode and then change the behavior accordingly

[2017-10-19 11:28] VadimTikhonyuk commented on #753
So how to fix this?
If launch from home 2D - launch as 2D application without any daydream intros
If launch from daydream launcher - launch daydream sdk + VR scene

[2017-10-19 11:43] VadimTikhonyuk opened #759 "Disable Head Tracking for specific camera without XR.enabled = false"
Hello,

I have cameras setup in my VR project which capture 360 panorama
I need to disable head tracking which enabling for each camera by default

[2017-10-19 16:19] fredsa commented on #421
@jules43 The current Google VR SDK requires Unity 5.6 or later.
(Unity 5.3 does not include native integration of Google VR, which means the SDK is handling a lot more of the rendering implementation. For the update to Google VR Services to help, please update to Unity 5.6 and the latest Google VR SDK.)

[2017-10-19 16:24] jules43 commented on #751
Moving to 2017 is definitely desirable, however for current purposes there are three main motivations for staying with 5.3:

1. I am fixing bugs in a already released product and upgrading to 5.6 or 2017 would likely introduce a larger number of unknown bugs which would require heavier testing to fix.

2. I am also dealing with bugs in a second product which is close to release and too close to re

[2017-10-19 16:42] jules43 commented on #421
@fredsa Thanks for the clarification

[2017-10-19 17:06] rusmaxham commented on #756
There is also a new Unity command-line argument in 2017.2: '-accept-apiupdate' which will accept the API upgrades when run in headless mode.

[2017-10-19 17:27] rusmaxham commented on #708
We are working with Unity to resolve this issue.

[2017-10-19 18:22] SelaO commented on #661
I'm on unity 5.6.2f1 and GoogleVRForUnity_1.100.1 and it still happens...

[2017-10-19 18:22] alexbryant commented on #453
Oliver, thanks for posting your workaround, I just had the same issue and had no idea that my problem was that I removed daydream support! I'm keeping it in now exclusively as a workaround.

[2017-10-19 18:54] maskedmous commented on #661
@SelaO thats because it is not fixed for 5.6.2f1. In the issue tracker a unity representative answered:

So you should see the fix coming for 5.6.4p2

[2017-10-19 19:03] SelaO commented on #661
@maskedmous so what do you suggest I'll do? Use an older GVR version? I have to stay on 5.6.2f1.

[2017-10-19 19:06] maskedmous commented on #661
@SelaO I think this issue is unrelated to the SDK that is used. Rather something internally in Unity.
an upgrade to 5.6.4p2 should be do-able, is there something else broken in that release or is there some other reason you cannot upgrade to that version?

[2017-10-19 19:10] nathanmartz commented on #708
Just to be clear, the expected behavior is that calling Application.Quit() while in Daydream mode should return you to the 2D android launcher. There are cases where you may get a few sections of the previous app showing, but that shouldn't cause a DFX submission rejection.

I believe @bigfootaus issue is different. They have a "Close Game" button in VR which they expect to exit the app and return

[2017-10-19 19:15] nathanmartz commented on #759
Are these tagged as "Main Camera"? If so, removing the tag should fix the issue.

[2017-10-19 19:56] bigfootaus commented on #708
Ah thanks Nathan, I didn't even consider that the "Close Game" button could just be removed without affecting users' ability to exit the game. That should resolve that publishing issue for me =)

[2017-10-19 20:12] martinbilello commented on #758
Hi, can you attach the result of a logcat here so we can have more information about the crash?

Thanks

[2017-10-19 21:47] fredsa commented on #759
At runtime, on your mobile phone, only cameras which target one or both eyes should follow the builtin head tracking. Set the Camera **Target Eye** to **None (Main Display)** to disable tracking.

The Camera's [`stereoTargetEye`](https://docs.unity3d.com/ScriptReference/Camera-stereoTargetEye.html) property is visible in the Camera inspector view when VR support is enabled in Player Settings).

No

[2017-10-19 22:13] dsternfeld7 commented on #747
Closing this issue. Please feel free to open a new issue on this topic if you need help with it in the future!

Thanks,

Dan

[2017-10-19 22:13] #747 closed

[2017-10-19 22:15] dsternfeld7 commented on #531
Closing this because DaydreamLabsControllerPlayground is deprecated.

[2017-10-19 22:15] #531 closed

[2017-10-20 00:47] fredsa commented on #753
You only need to set **Player Settings > Android > Other Settings > Virtual Reality SDKs** to [**None**, **Daydream**]. If you launch the app for the first time from Daydream home, it will launch in Daydream VR mode automatically. If you launch from the 2D launcher for the first time, it'll launch in 2D mode.

If you're testing one after the other, be sure to tap the recent apps button and swipe y

[2017-10-20 01:29] fredsa commented on #742
@CMDann thanks for the "update update".

The skewed images you were seeing could certainly be explained by an incorrect rotation somewhere in the project. If you can determine steps to reproduce this problem starting with an empty project, please feel free to file a new issue with the steps required and we'll try to get this sorted out.

Note, to rule out issues with the Xcode project settings, a

[2017-10-20 03:47] EvilBhalu commented on #747
Hi,

There are no updates on this! The issue did not come in a new build. I think it was mostly due to changing the default values from the package. I'll repost if it arises again.

Thank you.

[2017-10-20 16:39] dsternfeld7 commented on #620
Closing. If you would like help with this in the future please feel free to open a new issue.

[2017-10-20 16:39] #620 closed

[2017-10-20 16:43] dsternfeld7 commented on #619
We do not officially support this feature. You can implement this yourself in the latest SDK by making a subclass of GvrBasePointer and overriding Triggering and TriggerDown to handle the timer.

Thanks,

Dan

[2017-10-20 16:43] #619 closed

[2017-10-20 16:47] #668 closed

[2017-10-20 16:53] dsternfeld7 commented on #642
If you are looking at GvrDemo in the latest version of the SDK, here is some information that may help you:

The scene includes both the prefab GvrContrllerPointer (Daydream Controller) and GvrReticlePointer (Cardboard Reticle). The script DemoInputManager is used to automatically switch which one is active based on which Virtual Reality SDK is being used according to Unity's Player Settings: http

[2017-10-20 16:54] #635 closed

[2017-10-20 16:56] dsternfeld7 commented on #690
Addressed in v1.100.0

[2017-10-20 16:57] dsternfeld7 commented on #710
Documentation has been updated.

Thanks!

[2017-10-20 16:57] #710 closed

[2017-10-20 16:58] dsternfeld7 commented on #734
Thank you, this will be addressed.

[2017-10-20 17:00] dsternfeld7 commented on #541
Thank you for the report! I am not able to reproduce this issue in GVR SDK 1.100.1

If you are still seeing this in the latest SDK, please feel free to open a new issue with details about how to reproduce the bug and I will investigate.

Thanks,

Dan

[2017-10-20 17:00] #541 closed

[2017-10-20 17:35] bopangzz commented on #751
I tried your test app on a Nexus 5 and S7 edge and I can't reproduce the missing icon issue. I will try to find a S7 and run some test. But in the meanwhile, can you send me a full logcat running your GVRDemo build on S7 without "Unity" filter?

[2017-10-20 23:46] fredsa commented on #651
For switching between VR and 2D, see https://github.com/googlevr/gvr-unity-sdk/wiki/Switching-between-VR-and-non-VR-at-runtime

@clarkehe Closing since it sounds like you're no longer seeing issues with the more recent Unity release. Please feel free to reopen if you are still seeing issues with the latest Unity 5.6 or 2017 releases.

[2017-10-20 23:47] #641 closed

[2017-10-21 16:53] haoguo opened #760 "Volume buttons not work"
Volume buttons not work, According to https://github.com/googlevr/gvr-unity-sdk/issues/40, I found that volume buttons are no longer disabled in Cardboard. is this a bug?

Found using:
 * Google VR SDK version: 1.100.0
 * Unity version: 5.6.2f1
 * Phone manufacturer, model, and O/S version: MI5

[2017-10-21 19:00] rusmaxham commented on #760
This should be fixed in Unity as of 5.6.3f1 and 2017.1.1f1.

[2017-10-21 19:00] #760 closed

[2017-10-21 22:15] lesmo commented on #661
@SelaO I implemented @luizzenha solution successfully in my Unity 5.6.3p4 project, although using timers was not necessary. It was initially on v5.6.3f1 and I had to upgrade to see if it would solve this issue... it didn't.

Give that a try. Works great.

[2017-10-22 05:35] haoguo commented on #760
thanks a lot @rusmaxham

[2017-10-22 20:40] OmegaMule commented on #671
OK I've tested the crashfix change on Unity 2017.1.2p1 and Unity 5.6.4p1, the result is as I've predicted. Unity devs just added "density" to Android Manifest, which prevents the crash when GVR Services enforce resolution change. The scaling, however, is still not fixed. VR viewports are incorrectly scaled and positioned due to resolution difference.

So this is just first step. Users still need t

[2017-10-22 22:01] dustinkerstein commented on #671
@OmegaMule Can you post a screenshot of that? I haven't seen that when testing on the devices here - http://developer.samsung.com/remotetestlab/rtlDeviceList.action

[2017-10-22 22:58] OmegaMule commented on #671
@dustinkerstein I don't use simulators/emulators. Fredsa captured it some time ago:

https://user-images.githubusercontent.com/1235362/30393677-baf78ef4-9875-11e7-971b-f217abded447.png

It looks exactly like that on real Galaxy S8 device and clean Unity version I mentioned before.

[2017-10-23 09:30] jules43 commented on #751
I've placed the logcat in the same Google Drive directory. This is a direct link: https://drive.google.com/open?id=0B0HJORhfMvneU1BFb2NDcGEwOGc

[2017-10-23 14:23] dustinkerstein commented on #671
@OmegaMule Interesting, I am not able to replicate that behavior with my app when testing on the Samsung Remote Device lab (which I believe are in fact real devices, not emulators or simulators). Is it possible to post your project online?

[2017-10-23 15:59] fredsa commented on #586
Switching between VR and non-VR is documented here:
https://github.com/googlevr/gvr-unity-sdk/wiki/Switching-between-VR-and-non-VR-at-runtime

[2017-10-23 15:59] #586 closed

[2017-10-23 16:09] jdduke commented on #671
The plan is to push an updated Google VR Services build to resolve the second half of the problem (properly responding to "density" changes when declared in the manifest). We expect the rollout to hit 100% by the end of next week (Nov. 3).

[2017-10-23 16:16] fredsa commented on #554
Fixed in 1.70.0.

Duplicate of #618.

[2017-10-23 16:16] #554 closed

[2017-10-24 14:30] kaminskypavel commented on #743
yup , uninstalling the "instant preview" apk , and restarting both the phone and the PC , did the trick here as well

[2017-10-24 15:11] nathanmartz commented on #743
Looks like this is resolved. Hooray!

[2017-10-24 15:11] #743 closed

[2017-10-24 16:05] fredsa commented on #559
We've updated the [Get started with Google VR in Unity on iOS](https://developers.google.com/vr/unity/get-started-ios) guide. The new guide includes a note about the importance of opening the generated `*.xcworkspace` file instead of the `*.xcodeproj` file.

Closing this issue as I believe the above problems are fixed by a combination of:
* Updating to the latest Unity 5.6 or Unity 2017 release
*

[2017-10-24 16:05] #559 closed

[2017-10-24 16:22] fredsa commented on #688
We've updated the [Get started with Google VR in Unity on iOS](https://developers.google.com/vr/unity/get-started-ios) guide. The new guide includes a note about the importance of opening the generated `*.xcworkspace` file instead of the `*.xcodeproj` file.

@qiaonifengxue Please let us know (by filing a new issue) if you encounter any issues creating a working Xcode project using the latest Unity

[2017-10-24 16:22] #688 closed

[2017-10-24 16:23] fredsa commented on #632
We've updated the [Get started with Google VR in Unity on iOS](https://developers.google.com/vr/unity/get-started-ios) guide. The new guide includes a note about the importance of opening the generated `*.xcworkspace` file instead of the `*.xcodeproj` file.

Closing this issue as I believe the above problems are fixed by a combination of:
* Updating to the latest Unity 5.6 or Unity 2017 release
*

[2017-10-24 16:23] #632 closed

[2017-10-24 16:24] fredsa commented on #588
We've updated the [Get started with Google VR in Unity on iOS](https://developers.google.com/vr/unity/get-started-ios) guide. The new guide includes a note about the importance of opening the generated `*.xcworkspace` file instead of the `*.xcodeproj` file.

Closing this issue as I believe the above problems are fixed by a combination of:
* Updating to the latest Unity 5.6 or Unity 2017 release
*

[2017-10-24 16:24] #588 closed

[2017-10-24 16:58] #739 closed

[2017-10-24 17:06] fredsa commented on #560
The `EXC_BAD_ACCESS` crash in `SetTexture()` when switching scenes (case [891965](https://issuetracker.unity3d.com/issues/ios-crash-in-settexture-with-googlevr-sdk-1-dot-2-on-ios)) should be fixed in at least:
* Unity **5.6.3p3** and later
* Unity **2017.1.0p4** and later

Later releases than these should work as well. These two versions just happened to be the latest available [QA patch releases]

[2017-10-24 17:59] Jeysam1 commented on #573
i have Huawei GR5 2017 , and i'm having same issue

[2017-10-24 18:07] fredsa commented on #560
The minimum versions which should include the fix are:
* Unity **2017.1.0b1**
* Unity **5.6.1p2**

[2017-10-24 18:07] #560 closed

[2017-10-24 21:20] JMAPeters opened #761 "object reference error"
<Brief summary of the issue you encountered>

Found using:
 * Google VR SDK version: 1.100.1
 * Unity version: 2017.2.0f3
 * Phone manufacturer, model, and O/S version: ___
 * Viewer manufacturer & model: ___

Steps to reproduce the issue:
 1. Open a project

Workarounds:
When i open a project and load the assets an this error starts counting.

Additional comments:
Object reference not set to an i

[2017-10-24 22:38] fredsa commented on #602
Here's a workaround for getting 2D/VR working, which I tested in Unity 5.6.4p1.

1. Create a hybrid 2D/Cardboard app with:
    * **Player Settings > iOS > Other Settings > Virtual Reality Support** == enabled
    * **Player Settings > iOS > Other Settings > Virtual Reality SDKs** == ["None", "Cardboard"]

2. Use the general purpose approach described in https://github.com/googlevr/gvr-unity-sdk/wi

[2017-10-25 01:16] rusmaxham commented on #665
This should be fixed with the most recent versions of Unity 5.6 and 2017.1+ (5.6.4f1 and 2017.1.2f1).

[2017-10-25 01:16] #665 closed

[2017-10-25 02:32] rusmaxham commented on #665
Alternatively, following the [Pod update to the latest GVR SDK for iOS](https://github.com/googlevr/gvr-unity-sdk#pod-update-to-the-latest-gvr-sdk-for-ios) instructions to update to a newer lib GVR will also fix this issue if you absolutely cannot upgrade your version of Unity.

[2017-10-25 02:39] rusmaxham commented on #481
You can now build multithreaded Cardboard and Daydream apps natively with latest Unity 5.6, 2017.1, and 2017.2.

[2017-10-25 02:39] #481 closed

[2017-10-25 03:04] rusmaxham commented on #529
I'm going to close this issue.  If you are still experiencing this issue, please comment with more details about your current experience.

[2017-10-25 03:04] #529 closed

[2017-10-25 03:05] rusmaxham commented on #522
Is this still an issue?  If so, can you send me a simple project that reproduces the issue?

[2017-10-25 03:05] #494 closed

[2017-10-25 03:07] rusmaxham commented on #507
Are you still experiencing this issue with the latest versions of Unity and the GVR SDK for Unity?

[2017-10-25 03:08] rusmaxham commented on #508
Are you still experiencing this issue with the latest versions of Unity and the GVR SDK for Unity?

[2017-10-25 03:09] #530 closed

[2017-10-25 03:09] rusmaxham commented on #537
Are you still experiencing this issue with the latest versions of Unity and the GVR SDK for Unity?

[2017-10-25 03:12] rusmaxham commented on #542
GVR does not allow the use of the Daydream controller outside of Daydream VR mode.

[2017-10-25 03:12] #542 closed

[2017-10-25 03:13] rusmaxham commented on #550
The feature to remove this overlay has been removed from the latest versions of Unity and the GVR SDK for Unity.

[2017-10-25 03:13] #550 closed

[2017-10-25 03:14] rusmaxham commented on #518
This should be fixed in Unity Cloud build now.

[2017-10-25 03:14] #518 closed

[2017-10-25 08:24] alex-nac commented on #636
Sad...

[2017-10-25 11:45] sejin1park opened #762 "Please let us know, how to use GvrVideoTexture with external video file for android."
<Brief summary of the issue you encountered>

Found using:
 * Google VR SDK version: __1.70.0
 * Unity version: _2017.1.1f, __
 * Phone manufacturer, model, and O/S version: __Samsung Galaxy S4  _  android 5.0

Please let me know, how to play external (SD card) video file in android.
I can use Video Player to access and play external video via script with Application.persistentDataPath + "/movie/1

[2017-10-25 17:01] dsternfeld7 commented on #762
I believe it needs to be "file://" + <full path to the file>

The [Media App Template](https://developers.google.com/vr/unity/media-app-template) uses the Gvr Video Plugin to play videos located in external storage, so I would recommend looking at that as an example.

[Here](https://github.com/googlevr/media-app-template/blob/master/Assets/MediaAppTemplate/Scripts/UI/FileSelector/MediaSelector.cs)

[2017-10-25 17:07] fredsa commented on #684
I believe this is a duplicate of #671.

I find that immediately after a reboot apps will run normally, but once the screen has been locked at least once (by tapping the power button to lock the screen), the app will no longer launch. Instead if closes immediately.

As a temporary workaround set **Settings > Display > Screen resolution > WQHD+** > _APPLY_

[2017-10-25 17:17] fredsa commented on #699
This issue was fixed by an update to the [Daydream Keyboard](https://play.google.com/store/apps/details?id=com.google.android.vr.inputmethod) app.

[2017-10-25 17:17] #699 closed

[2017-10-25 17:30] dsternfeld7 commented on #761
Hey there! I just tried reproducing this issue and wasn't able to. Would be be able to provide more detail about how to reproduce it?

Also, I recommend against using Unity 2017.2.0f3 for Daydream development. Please see the thread [here](https://forum.unity.com/threads/daydream-controller-freezes-after-returning-from-daydream-home.498778/) for more details.

[2017-10-25 17:47] JMAPeters commented on #761
Hello, thanks for helping me,

well, when I open a new project, everything is fine, but after i load the google vr sdk for unity v1.100.1 in a got the following errors

![foutmelding](https://user-images.githubusercontent.com/26442488/32013824-8647a1e0-b9bc-11e7-9963-eadf2c24bd9a.png)

the last one keeps adding.

I have no idee why, I followed the get starded steps -> https://developers.google.com

[2017-10-25 17:54] dsternfeld7 commented on #761
Do these errors happen when you hit play? or just when the editor is open?

Can you click on the "Object reference not set to an instance of an object" error and copy and paste the full stack trace into this issue?

Thanks,

Dan

[2017-10-25 17:55] dsternfeld7 commented on #761
What platform is your build target set to?

[2017-10-25 18:09] JMAPeters commented on #761
Just when the editor is open, when i try to play unity freeze.

Al the errors copy pased:

ApplicationName='"D:\Programma's 2\Unity\Editor\Data\MonoBleedingEdge\bin\mono.exe"', CommandLine='"D:\Programma's 2\Unity\Editor\Data\MonoBleedingEdge\lib\mono\4.5\mcs.exe"  @Temp/UnityTempFile-ae14441607ee0524f8fc4ce5e479b1dd', CurrentDirectory='D:/Documenten/Unity Games/Cardboard3/Assets/..'
UnityEditor.S

[2017-10-25 18:15] dsternfeld7 commented on #761
Thanks!

When you click on an error in the Console, a window at the bottom of the Console displays more details about that error. Shown in the image below:

<img width="1084" alt="testexception" src="https://user-images.githubusercontent.com/20076332/32015353-b4e081a8-b975-11e7-8000-00f1df39f656.png">

Can you copy and paste the full detailed information about both errors into this issue?

Thanks,

[2017-10-25 18:20] JMAPeters commented on #761
The extra info is the same as the bug, dont know if that is right or im pressing wrong

![foutmelding](https://user-images.githubusercontent.com/26442488/32015535-a8a91962-b9c1-11e7-9016-539f6714df17.png)

[2017-10-25 18:20] dsternfeld7 commented on #761
I have a suspicion about what is going on - try making sure that your filepath's for both the Unity installation and your project do not contain and spaces or apostrophes.